<!DOCTYPE HTML>
<html ng-app="schoolApp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <title>Purchase your CAA membership today! - CAA South Central Ontario</title>
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/2dc67787-4d8d-43bf-a8f6-96f474b9302e.css" />
  <link rel="stylesheet" href="caa/icons.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">

</head>

<body ng-controller="NavController" ng-class="{'overflow-y--hidden' : toggleNav}">
  <div class="header-navigation">
    <header class="school-zone__header">
      <div class="l-wrapper">
        <div class="school-zone__header-column--logo"><a class="c-caa__logo" href="/">CAA | Insurance, Travel, Roadside and Rewards</a></div>
        <div class="school-zone__header-column--title">
          <a href="/"><h2>Ontario School Zone Safety Conference</h2></a></div>
        <div class="school-zone__header-column--mobile-menu">
          <div ng-click="toggleNav = !toggleNav" class="mobile-menu__button" ng-class="toggleNav ? 'open' : ''" data-menu="1">
            <div class="icon-left"></div>
            <div class="icon-right"></div>
          </div>
        </div>
      </div>
    </header>
    <nav class="navigation" ng-class="{'navigation-modal' : toggleNav}">
      <div class="l-wrapper">
        <div class="navigation__column navigation-info">
          <ul class="">
            <li>
              <svg version="1.1" id="icon-calendar" class="nav__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="20px" viewBox="0 0 111 81" style="enable-background:new 0 0 111 81;" xml:space="preserve">
                <path class="st0" d="M109,23.5H1.2c-0.8,0-1.5-0.7-1.5-1.5V10.2c0-5.8,4.7-10.6,10.6-10.6H100c5.8,0,10.6,4.7,10.6,10.6V22
  C110.5,22.8,109.8,23.5,109,23.5z M2.7,20.5h104.9V10.2c0-4.2-3.4-7.6-7.6-7.6H10.2C6,2.6,2.6,6,2.6,10.2v10.3H2.7z" />
                <rect x="23.4" y="14.6" class="st0" width="3" height="13.5" />
                <rect x="83.8" y="14.6" class="st0" width="3" height="13.5" />
                <path class="st0" d="M93.5,81.1H1.2c-0.8,0-1.5-0.7-1.5-1.5V22c0-0.8,0.7-1.5,1.5-1.5H109c0.8,0,1.5,0.7,1.5,1.5v42
  c0,0.1,0,0.1,0,0.2c0,0.3-0.2,0.7-0.4,0.9L94.5,80.6C94.3,80.9,93.9,81.1,93.5,81.1z M2.7,78.1h90.2l14.7-14.7V23.5H2.7V78.1z" />
                <path class="st0" d="M93.5,81.1H1.2c-0.8,0-1.5-0.7-1.5-1.5V22c0-0.8,0.7-1.5,1.5-1.5H109c0.8,0,1.5,0.7,1.5,1.5v42
  c0,0.1,0,0.1,0,0.2c0,0.3-0.2,0.7-0.4,0.9L94.5,80.6C94.3,80.9,93.9,81.1,93.5,81.1z M2.7,78.1h90.2l14.7-14.7V23.5H2.7V78.1z" />
                <path class="st0" d="M50.9,42.7H37.4c-0.8,0-1.5-0.7-1.5-1.5V35c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5v6.2
  C52.4,42,51.8,42.7,50.9,42.7z" />
                <path class="st0" d="M29.2,42.7H15.7c-0.8,0-1.5-0.7-1.5-1.5V35c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5v6.2
  C30.7,42,30,42.7,29.2,42.7z" />
                <path class="st0" d="M72.7,42.7H59.2c-0.8,0-1.5-0.7-1.5-1.5V35c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5v6.2
  C74.2,42,73.6,42.7,72.7,42.7z" />
                <path class="st0" d="M94.5,42.7H81c-0.8,0-1.5-0.7-1.5-1.5V35c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5v6.2
  C96,42,95.3,42.7,94.5,42.7z" />
                <path class="st0" d="M29.2,56.5H15.7c-0.8,0-1.5-0.7-1.5-1.5v-6.2c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5V55
  C30.7,55.8,30,56.5,29.2,56.5z" />
                <path class="st0" d="M50.9,56.5H37.4c-0.8,0-1.5-0.7-1.5-1.5v-6.2c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5V55
  C52.4,55.8,51.8,56.5,50.9,56.5z" />
                <path class="st0" d="M72.7,56.5H59.2c-0.8,0-1.5-0.7-1.5-1.5v-6.2c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5V55
  C74.2,55.8,73.6,56.5,72.7,56.5z" />
                <path class="st0" d="M94.5,56.5H81c-0.8,0-1.5-0.7-1.5-1.5v-6.2c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5V55
  C96,55.8,95.3,56.5,94.5,56.5z" />
                <path class="st0" d="M29.2,70.2H15.7c-0.8,0-1.5-0.7-1.5-1.5v-6.2c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5v6.2
  C30.7,69.5,30,70.2,29.2,70.2z" />
                <path class="st0" d="M50.9,70.2H37.4c-0.8,0-1.5-0.7-1.5-1.5v-6.2c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5v6.2
  C52.4,69.5,51.8,70.2,50.9,70.2z" />
              </svg>
              <span>October 2, 2017</span>
            </li>
            <li>
              <svg version="1.1" id="icon-location" class="nav__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="23px" width="20px" viewBox="0 0 60.7 80.7" style="enable-background:new 0 0 60.7 80.7;" xml:space="preserve">
                <path class="st0" d="M30.3,80.7c-0.6,0-1.1-0.2-1.5-0.7C27.6,78.8,0,49.4,0,30.3C0,13.6,13.6,0,30.3,0c16.7,0,30.3,13.6,30.3,30.3
  c0,19-27.6,48.4-28.8,49.7C31.5,80.4,30.9,80.7,30.3,80.7z M30.3,4.2C15.9,4.2,4.2,15.9,4.2,30.3c0,15,20.4,38.7,26.2,45.2
  c5.8-6.4,26.2-30.2,26.2-45.2C56.5,15.9,44.8,4.2,30.3,4.2z M30.4,46.3c-8.8,0-15.9-7.1-15.9-15.9c0-8.8,7.1-15.9,15.9-15.9
  c8.8,0,15.9,7.1,15.9,15.9C46.3,39.1,39.2,46.3,30.4,46.3z M30.4,18.6c-6.5,0-11.7,5.3-11.7,11.7c0,6.5,5.3,11.7,11.7,11.7
  c6.5,0,11.7-5.3,11.7-11.7C42.1,23.9,36.9,18.6,30.4,18.6z" />
              </svg><span>Toronto, Ontario</span>
            </li>
          </ul>
        </div>
        <div class="navigation__column navigation-main">
          <ul class="">
            <li><a href="./about.html"><span>About</span></a></li>
            <li><a href="./venue.html"><span>Venue</span></a></li>
            <li><a href="./contact.html"><span>Contact</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="content">
    <section class="hero-section">
      <div class="l-wrapper">
        <div class="hero__copy--center">
          <div class="hero__copy--position">
            <div class="hero__copy">
              <h1>Moving Forward Together.</h1>
              <h2>October 2, 2017 &nbsp;|&nbsp; Toronto, ON</h2>
              <p><strong>Collaborating with experts to make school zones safer.</strong></p>
              <div countdown='' date='October 2, 2017 24:00:00' class="countdown__container fadeIn">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="topic__section" ng-mouseover="toggleLight = !toggleLight">
      <div class="l-wrapper">
        <div class="topic-icon__container fadeIn fadeUp">
          <div class="topic-icon__container-circle">

          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg version="1.1" id="light-bulb" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="50px" viewBox="0 0 81.5 117" style="enable-background:new 0 0 81.5 117;" xml:space="preserve">
          <path stroke-width="5" stroke-miterlimit="10" id="socket" class="light-bulb__stroke light-bulb-0" d="M58.2,114.5H23.7c-1,0-1.7-0.8-1.7-1.7V91.2c0-1,0.8-1.7,1.7-1.7h34.5c1,0,1.7,0.8,1.7,1.7v21.6
            C59.9,113.8,59.2,114.5,58.2,114.5z"/>
          <path stroke-width="5" stroke-miterlimit="10" id="highlight-1" class="light-bulb__stroke light-bulb-1" d="M24.1,16.4c-5.7,4.1-9.7,10.1-11.5,16.8"/>
          <path stroke-width="5" stroke-miterlimit="10" id="highlight-2" class="light-bulb__stroke light-bulb-1" d="M33.2,12.1c-0.5,0.1-1.1,0.3-1.6,0.5"/>
          <path stroke-width="5" stroke-miterlimit="10" id="wire" class="light-bulb__stroke light-bulb-2" d="M45.8,89.5V53.8v-6.1c0-4.2,3.4-7.6,7.6-7.6c4.2,0,7.6,3.4,7.6,7.6c0,4.2-3.4,7.6-7.6,7.6H40.8H28.2
            c-4.2,0-7.6-3.4-7.6-7.6c0-4.2,3.4-7.6,7.6-7.6s7.6,3.4,7.6,7.6v7.7v34.2"/>
          <line id="socket-detail" class="light-bulb__stroke light-bulb-3" x1="17.2" y1="102" x2="65" y2="102"/>
          <path stroke-width="5" stroke-miterlimit="10" id="bulb" class="light-bulb__stroke light-bulb-4" d="M27.3,89.5h27.2c0.4-8.4,5-12.9,9.5-17.3c1.8-1.8,3.5-3.4,4.9-5.3c0,0,0.1-0.1,0.1-0.1
            c1.3-1.4,2.5-2.9,3.5-4.4C76.7,56,79,48.6,79,40.9c0-21-17.1-38.1-38.1-38.1c-0.1,0-0.1,0-0.2,0c-21,0.1-38,17.1-38,38.1
            C2.7,48.6,5,56,9.3,62.3c1.1,1.6,2.3,3.1,3.5,4.4c0,0,0.1,0.1,0.1,0.1c1.4,1.9,3.1,3.5,4.9,5.3C22.3,76.6,26.9,81.1,27.3,89.5z"/>
          </svg>
            <div class="light-bulb__container" ng-class="{'flicker' : toggleLight}">
              <?xml version="1.0" encoding="utf-8"?> <svg version="1.1" id="light-bulb__light" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 76.3 86.7" style="enable-background:new 0 0 76.3 86.7" xml:space="preserve"> <path class="light-bulb__light" d="M24.6,86.7h27.2c0.4-8.4,5-12.9,9.5-17.3c1.8-1.8,3.5-3.4,4.9-5.3c0,0,0.1-0.1,0.1-0.1c1.3-1.4,2.5-2.9,3.5-4.4
  c4.3-6.3,6.6-13.7,6.6-21.4C76.3,17.1,59.2,0,38.2,0c-0.1,0-0.1,0-0.2,0C17,0.1,0,17.1,0,38.1c0,7.7,2.3,15.1,6.6,21.4
  c1.1,1.6,2.3,3.1,3.5,4.4c0,0,0.1,0.1,0.1,0.1c1.4,1.9,3.1,3.5,4.9,5.3C19.6,73.8,24.2,78.3,24.6,86.7z"/> </svg>
            </div>
          </div>
        </div> <!-- topic-icon__container -->
        <div class="topic__copy">
          <h2>Topic Suggestions.</h2>
          <p>We are looking for conference topic suggestions and we’re hoping you may have some unique, yet appealing ideas.</p>
          <a href="" class="c__btn-ghost c__btn-ghost--white">Learn More</a>
        </div>
      </div>
    </section>
    <section class="l-section pad__section--top content-layout__section conference__layout">
      <div class="l-wrapper .container-fluid">
        <div class="row">
          <div class="col-sm-6 content-layout__copy content-layout__column--right">
            <div class="content-layout__copy--middle">
              <h2>About the Conference</h2>
              <p>We&rsquo;ve had a successful past, now we all need to come together so that we can create and shape the future we envision.</p>
              <div class="cta__container">
                <a href="#" class="c__btn-ghost c__btn-ghost--green" tabindex="0"> <span>Learn More</span></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 image"><img src="./img/conference-laughter.jpg" alt="People laughing during a conference."></div>
        </div>
        <div class="row">
          <div class="col-sm-6 content-layout__copy ">
            <div class="content-layout__copy--middle">
              <h2>Venue and Transportation</h2>
              <p>This is our first conference and to ensure we are comfortable during this time, we have selected The Chelsea Hotel, Toronto as our venue.</p>
              <div class="cta__container">
                <a href="#" class="c__btn-ghost c__btn-ghost--green" tabindex="0"> <span>Learn More</span></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 image"><img src="./img/chelsea-hotel-exterior.jpg" alt=""></div>
        </div>
    </section>
    <section class="sign-up__section">
      <div class="l-wrapper">
        <div class="sign-up__copy">
          <h2>Sign Up for Alerts</h2>
          <p>This is going to be an exciting conference and one that will surely define us.</p>
        </div>
        <form id="form1" action="https://cl.exct.net/subscribe.aspx?lid=1521991" name="subscribeForm" method="post" ng-controller="FormController">
          <fieldset>
            <input type="hidden" name="thx" value="https://www.caasco.com/OM/Test/return-travel">
            <input type="hidden" name="err" value="https://www.caasco.com/OM/Test/return-travel">
            <input type="hidden" name="usub" value="">
            <input type="hidden" name="MID" value="10845500">
            <div class="field__group">
              <label for="First Name" ng-class="{'alert--error' : subscribeForm['First Name'].$invalid && subscribeForm['First Name'].$touched}">First Name*</label>
              <input type="text" ng-model="firstname" id="first-name" name="First Name" required>
            </div>
            <div class="field__group">
              <label for="Last Name" ng-class="{'alert--error' : subscribeForm['Last Name'].$invalid && subscribeForm['Last Name'].$touched}">Last Name*</label>
              <input type="text" ng-model="lastname" id="last-name" name="Last Name" required>
            </div>
            <div class="field__group">
              <label for="Email Address" ng-class="{'alert--error' : subscribeForm['Email Address'].$invalid && subscribeForm['Email Address'].$touched}">Email Address*</label>
              <input type="text" ng-model="email" id="email-address" name="Email Address" required>
            </div>
            <div class="field__group">
              <input type="checkbox" ng-model="subscribe" name="Subscribe to CAA Emails Y or N" ng-checked="subscribe">
              <span class="checkbox__check-container"></span>
              <label for="">Yes, I would like to receive updates about the conference from CAA South Central Ontario.</label>
            </div>
          </fieldset>
          <div class="cta__container" ng-show="subscribe">
            <a href="" class="c__btn" tabindex="0" ng-click="submitForm()" ng-disabled="subscribeForm['Email Address'].$invalid && subscribeForm['Email Address'].$touched"> <span>Subscribe</span></a>
          </div>
        </form>
      </div>
    </section>
    </div>
    <footer>
      <div class="l-wrapper">
        <p><a href="./privacy/">Privacy Policy</a> &nbsp;|&nbsp; <a href="./contact/">Contact Us</a></p>
        <p>&copy; 2017 CAA South Central Ontario. All rights reserved. Serving Members in Southern and Central Ontario.</p>
        <p>&reg; CAA trademarks owned by, and use is authorized by, the Canadian Automobile Association. Making bad days good. And good days better. is a trademark of CAA Club Group.</p>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript">

    function addClass(elements, myClass) {
      // if there are no elements, we're done
      if (!elements) { return; }

      // if we have a selector, get the chosen elements
      if (typeof(elements) === 'string') {
        elements = document.querySelectorAll(elements);
      }

      // if we have a single DOM element, make it an array to simplify behavior
      else if (elements.tagName) { elements=[elements]; }

      // add class to all chosen elements
      for (var i=0; i<elements.length; i++) {

        // if class is not already found
        if ( (' '+elements[i].className+' ').indexOf(' '+myClass+' ') < 0 ) {

          // add class
          elements[i].className += ' ' + myClass;
        }
      }
    }

    var touch = 'ontouchstart' in document.documentElement
            || (navigator.MaxTouchPoints > 0)
            || (navigator.msMaxTouchPoints > 0);

    if (!touch) { // remove all :hover stylesheets
        //try { // prevent exception on browsers not supporting DOM styleSheets properly
          addClass('.c__btn','hover');
        //} catch (ex) {}
    }

    if (navigator.appName == 'Microsoft Internet Explorer' ||  !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv:11/))) {
      addClass("body", "ie11Down");
    }

    </script>
</body>

</html>
