<!DOCTYPE HTML>
<html ng-app="schoolApp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <title>Purchase your CAA membership today! - CAA South Central Ontario</title>
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/2dc67787-4d8d-43bf-a8f6-96f474b9302e.css" />
  <link rel="stylesheet" href="caa/icons.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">

</head>

<body ng-controller="NavController" ng-class="{'overflow-y--hidden' : toggleNav}">
  <div class="header-navigation">
    <header class="school-zone__header">
      <div class="l-wrapper">
        <div class="school-zone__header-column--logo"><a class="c-caa__logo" href="/">CAA | Insurance, Travel, Roadside and Rewards</a></div>
        <div class="school-zone__header-column--title">
          <h2>Ontario School Zone Safety Conference</h2></div>
        <div class="school-zone__header-column--mobile-menu">
          <div ng-click="toggleNav = !toggleNav" class="mobile-menu__button" ng-class="toggleNav ? 'open' : ''" data-menu="1">
            <div class="icon-left"></div>
            <div class="icon-right"></div>
          </div>
        </div>
      </div>
    </header>
    <nav class="navigation navigation-v2" ng-class="{'navigation-modal' : toggleNav}">
      <div class="l-wrapper">
        <div class="navigation-info">
          <ul class="">
            <li>
              <svg version="1.1" id="icon-calendar" class="nav__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="20px" viewBox="0 0 111 81" style="enable-background:new 0 0 111 81;" xml:space="preserve">
                <path class="st0" d="M109,23.5H1.2c-0.8,0-1.5-0.7-1.5-1.5V10.2c0-5.8,4.7-10.6,10.6-10.6H100c5.8,0,10.6,4.7,10.6,10.6V22
  C110.5,22.8,109.8,23.5,109,23.5z M2.7,20.5h104.9V10.2c0-4.2-3.4-7.6-7.6-7.6H10.2C6,2.6,2.6,6,2.6,10.2v10.3H2.7z" />
                <rect x="23.4" y="14.6" class="st0" width="3" height="13.5" />
                <rect x="83.8" y="14.6" class="st0" width="3" height="13.5" />
                <path class="st0" d="M93.5,81.1H1.2c-0.8,0-1.5-0.7-1.5-1.5V22c0-0.8,0.7-1.5,1.5-1.5H109c0.8,0,1.5,0.7,1.5,1.5v42
  c0,0.1,0,0.1,0,0.2c0,0.3-0.2,0.7-0.4,0.9L94.5,80.6C94.3,80.9,93.9,81.1,93.5,81.1z M2.7,78.1h90.2l14.7-14.7V23.5H2.7V78.1z" />
                <path class="st0" d="M93.5,81.1H1.2c-0.8,0-1.5-0.7-1.5-1.5V22c0-0.8,0.7-1.5,1.5-1.5H109c0.8,0,1.5,0.7,1.5,1.5v42
  c0,0.1,0,0.1,0,0.2c0,0.3-0.2,0.7-0.4,0.9L94.5,80.6C94.3,80.9,93.9,81.1,93.5,81.1z M2.7,78.1h90.2l14.7-14.7V23.5H2.7V78.1z" />
                <path class="st0" d="M50.9,42.7H37.4c-0.8,0-1.5-0.7-1.5-1.5V35c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5v6.2
  C52.4,42,51.8,42.7,50.9,42.7z" />
                <path class="st0" d="M29.2,42.7H15.7c-0.8,0-1.5-0.7-1.5-1.5V35c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5v6.2
  C30.7,42,30,42.7,29.2,42.7z" />
                <path class="st0" d="M72.7,42.7H59.2c-0.8,0-1.5-0.7-1.5-1.5V35c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5v6.2
  C74.2,42,73.6,42.7,72.7,42.7z" />
                <path class="st0" d="M94.5,42.7H81c-0.8,0-1.5-0.7-1.5-1.5V35c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5v6.2
  C96,42,95.3,42.7,94.5,42.7z" />
                <path class="st0" d="M29.2,56.5H15.7c-0.8,0-1.5-0.7-1.5-1.5v-6.2c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5V55
  C30.7,55.8,30,56.5,29.2,56.5z" />
                <path class="st0" d="M50.9,56.5H37.4c-0.8,0-1.5-0.7-1.5-1.5v-6.2c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5V55
  C52.4,55.8,51.8,56.5,50.9,56.5z" />
                <path class="st0" d="M72.7,56.5H59.2c-0.8,0-1.5-0.7-1.5-1.5v-6.2c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5V55
  C74.2,55.8,73.6,56.5,72.7,56.5z" />
                <path class="st0" d="M94.5,56.5H81c-0.8,0-1.5-0.7-1.5-1.5v-6.2c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5V55
  C96,55.8,95.3,56.5,94.5,56.5z" />
                <path class="st0" d="M29.2,70.2H15.7c-0.8,0-1.5-0.7-1.5-1.5v-6.2c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5v6.2
  C30.7,69.5,30,70.2,29.2,70.2z" />
                <path class="st0" d="M50.9,70.2H37.4c-0.8,0-1.5-0.7-1.5-1.5v-6.2c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5v6.2
  C52.4,69.5,51.8,70.2,50.9,70.2z" />
              </svg>
              <span>October 2, 2017</span>
            </li>
            <li>
              <svg version="1.1" id="icon-location" class="nav__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="23px" width="20px" viewBox="0 0 60.7 80.7" style="enable-background:new 0 0 60.7 80.7;" xml:space="preserve">
                <path class="st0" d="M30.3,80.7c-0.6,0-1.1-0.2-1.5-0.7C27.6,78.8,0,49.4,0,30.3C0,13.6,13.6,0,30.3,0c16.7,0,30.3,13.6,30.3,30.3
  c0,19-27.6,48.4-28.8,49.7C31.5,80.4,30.9,80.7,30.3,80.7z M30.3,4.2C15.9,4.2,4.2,15.9,4.2,30.3c0,15,20.4,38.7,26.2,45.2
  c5.8-6.4,26.2-30.2,26.2-45.2C56.5,15.9,44.8,4.2,30.3,4.2z M30.4,46.3c-8.8,0-15.9-7.1-15.9-15.9c0-8.8,7.1-15.9,15.9-15.9
  c8.8,0,15.9,7.1,15.9,15.9C46.3,39.1,39.2,46.3,30.4,46.3z M30.4,18.6c-6.5,0-11.7,5.3-11.7,11.7c0,6.5,5.3,11.7,11.7,11.7
  c6.5,0,11.7-5.3,11.7-11.7C42.1,23.9,36.9,18.6,30.4,18.6z" />
              </svg><span>Toronto, Ontario</span>
            </li>
          </ul>
        </div>
        <div class="navigation-main">
          <ul>
            <li><a href="./about.html"><span>About</span></a></li>
            <li><a href="./venue.html"><span>Venue</span></a></li>
            <li><a href="./topic.html"><span>Register</span></a></li>
            <li><a href="./sponsorship.html"><span>Sponsorship Packages</span></a></li>
            <li><a href="./contact.html"><span>Contact</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="content">
    <section class="hero-section">
      <div class="l-wrapper">
        <div class="hero__copy--center">
          <div class="hero__copy--position">
            <div class="hero__copy">
              <h1>Moving Forward Together.</h1>
              <h2>October 2, 2017 &nbsp;|&nbsp; Toronto, ON</h2>
              <p><strong>Collaborating with experts to make school zones safer.</strong></p>
              <div countdown='' date='March 15, 2017 15:00:00' class="countdown__container fadeIn">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="topic__section" ng-mouseover="toggleLight = !toggleLight">
      <div class="l-wrapper">
        <div class="topic-icon__container fadeIn fadeUp">
          <div class="topic-icon__container-circle">
            <svg version="1.1" id="light-bulb" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 46.1 47.5" style="enable-background:new 0 0 46.1 47.5;" width="44px" height="45px" xml:space="preserve">
            <g>
              <path class="light-bulb-0 light-bulb__path-animation" d="M37.4,5.8h6c1.1,0,2,0.9,2,2v37c0,1.1-0.9,2-2,2h-32c-1.1,0-2-0.9-2-2v-17"/>
              <path class="light-bulb-0 light-bulb__path-animation" d="M9.4,11.8v-4c0-1.1,0.9-2,2-2h6"/>
              <polyline class="light-bulb-0 light-bulb__path-animation" points="37.4,9.8 41.4,9.8 41.4,42.8 13.4,42.8 13.4,31.8   "/>
              <polyline class="light-bulb-0 light-bulb__path-animation" points="13.4,15.8 13.4,9.8 17.4,9.8   "/>
              <path class="light-bulb-0 light-bulb__path-animation" d="M34.4,4.8h-3c0-2.2-1.8-4-4-4c-2.2,0-4,1.8-4,4h-3c-1.7,0-3,1.3-3,3v3h20v-3C37.4,6.1,36,4.8,34.4,4.8z"/>
              <line class="light-bulb-0 light-bulb__path-animation" x1="27.4" y1="3.8" x2="27.4" y2="5.8"/>
              <polygon class="light-bulb-1 light-bulb__path-animation" points="6.4,12.8 25.4,31.8 28.4,38.8 21.4,35.8 2.4,16.8  "/>
              <path class="light-bulb-1 light-bulb__path-animation" d="M5.4,12.8l-1-1c-0.8-0.8-2.2-0.8-3,0l0,0c-0.8,0.8-0.8,2.2,0,3l1,1"/>
              <line class="light-bulb-1 light-bulb__path-animation" x1="24.4" y1="31.8" x2="21.4" y2="34.8"/>
            </g>
            </svg>

            <!-- <?xml version="1.0" encoding="utf-8"?> <svg version="1.1" id="light-bulb" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="50px" viewBox="0 0 84.5 113.7" style="enable-background:new 0 0 84.5 113.7" xml:space="preserve"> <g> <path class="light-bulb" d="M57.3,112.6h-30c-0.8,0-1.5-0.7-1.5-1.5V92.4c0-0.8,0.7-1.5,1.5-1.5h30c0.8,0,1.5,0.7,1.5,1.5v18.8
    C58.8,111.9,58.1,112.6,57.3,112.6z M28.8,109.6h27V93.9h-27V109.6z"/> <path class="st0" d="M57.3,93.9H27.2c-0.4,0-0.8-0.2-1.1-0.4c-0.3-0.3-0.4-0.7-0.4-1.1c0.1-8.1-4.1-12.3-8.6-16.6
    c-1.8-1.7-3.6-3.5-5.2-5.6c-1.3-1.5-2.6-3.1-3.7-4.7c-4.6-6.9-7.1-14.8-7.1-23.1c0-22.7,18.5-41.1,41.1-41.1c0.1,0,0.1,0,0.2,0
    C65,1.3,83.4,19.7,83.4,42.3c0,8.3-2.5,16.2-7.1,23.1c-1.1,1.7-2.4,3.2-3.8,4.7c-1.5,2.1-3.4,3.9-5.1,5.6
    c-4.5,4.4-8.7,8.5-8.6,16.6c0,0.4-0.1,0.8-0.4,1.1C58.1,93.7,57.7,93.9,57.3,93.9z M28.7,90.9h27.2c0.4-8.4,5-12.9,9.5-17.3
    c1.8-1.8,3.5-3.4,4.9-5.3c0,0,0.1-0.1,0.1-0.1c1.3-1.4,2.5-2.9,3.5-4.4c4.3-6.3,6.6-13.7,6.6-21.4c0-21-17.1-38.1-38.1-38.1
    c-0.1,0-0.1,0-0.2,0c-21,0.1-38,17.1-38,38.1c0,7.7,2.3,15.1,6.6,21.4c1.1,1.6,2.3,3.1,3.5,4.4c0,0,0.1,0.1,0.1,0.1
    c1.4,1.9,3.1,3.5,4.9,5.3C23.7,77.9,28.3,82.4,28.7,90.9z"/> <path d="M12.1,42.3h-3c0-10.6,5.1-20.6,13.7-26.8l1.8,2.4C16.8,23.6,12.1,32.7,12.1,42.3z"/> <path d="M28.9,15.3l-1.3-2.7c1.1-0.5,2.2-1,3.3-1.4l1,2.8C30.8,14.4,29.8,14.8,28.9,15.3z"/> <rect x="23.7" y="100.2" class="st0" width="37.1" height="3"/> <path class="st0" d="M50.2,92.4h-3V58.1h-10v34.3h-3V58.1h-4.6c-4.2,0-7.6-3.4-7.6-7.6c0-4.2,3.4-7.6,7.6-7.6s7.6,3.4,7.6,7.6v4.6
    h10v-4.6c0-4.2,3.4-7.6,7.6-7.6c4.2,0,7.6,3.4,7.6,7.6c0,4.2-3.4,7.6-7.6,7.6h-4.6V92.4z M50.2,55.1h4.6c2.6,0,4.6-2.1,4.6-4.6
    c0-2.6-2.1-4.6-4.6-4.6c-2.6,0-4.6,2.1-4.6,4.6V55.1z M29.6,45.8c-2.6,0-4.6,2.1-4.6,4.6c0,2.6,2.1,4.6,4.6,4.6h4.6v-4.6
    C34.2,47.9,32.2,45.8,29.6,45.8z"/> </g> </svg>
            <div class="light-bulb__container" ng-class="{'flicker' : toggleLight}">
              <?xml version="1.0" encoding="utf-8"?> <svg version="1.1" id="light-bulb__light" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 76.3 86.7" style="enable-background:new 0 0 76.3 86.7" xml:space="preserve"> <path class="light-bulb__light" d="M24.6,86.7h27.2c0.4-8.4,5-12.9,9.5-17.3c1.8-1.8,3.5-3.4,4.9-5.3c0,0,0.1-0.1,0.1-0.1c1.3-1.4,2.5-2.9,3.5-4.4
  c4.3-6.3,6.6-13.7,6.6-21.4C76.3,17.1,59.2,0,38.2,0c-0.1,0-0.1,0-0.2,0C17,0.1,0,17.1,0,38.1c0,7.7,2.3,15.1,6.6,21.4
  c1.1,1.6,2.3,3.1,3.5,4.4c0,0,0.1,0.1,0.1,0.1c1.4,1.9,3.1,3.5,4.9,5.3C19.6,73.8,24.2,78.3,24.6,86.7z"/> </svg>
            </div> -->
          </div>
        </div>
        <div class="topic__copy">
          <h2>Topic Suggestions.</h2>
          <p>We are looking for conference topic suggestions and we’re hoping you may have some unique, yet appealing ideas.</p>
          <a href="" class="c__btn-ghost c__btn-ghost--white">Learn More</a>
        </div>
      </div>
    </section>
    <section class="l-section pad__section--top content-layout__section conference__layout">
      <div class="l-wrapper .container-fluid">
        <div class="row">
          <div class="col-sm-6 content-layout__copy content-layout__column--right">
            <div class="content-layout__copy--middle">
              <h2>About the Conference</h2>
              <p>We&rsquo;ve had a successful past, now we all need to come together so that we can create and shape the future we envision.</p>
              <div class="cta__container">
                <a href="#" class="c__btn-ghost c__btn-ghost--green" tabindex="0"> <span>Learn More</span></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 image"><img src="./img/conference-laughter.jpg" alt="People laughing during a conference."></div>
        </div>
        <div class="row">
          <div class="col-sm-6 content-layout__copy ">
            <div class="content-layout__copy--middle">
              <h2>Venue and Transportation</h2>
              <p>This is our first conference and to ensure we are comfortable during this time, we have selected The Chelsea Hotel, Toronto as our venue.</p>
              <div class="cta__container">
                <a href="#" class="c__btn-ghost c__btn-ghost--green" tabindex="0"> <span>Learn More</span></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 image"><img src="./img/chelsea-hotel-exterior.jpg" alt=""></div>
        </div>
    </section>
    <section class="sign-up__section">
      <div class="l-wrapper">
        <div class="sign-up__copy">
          <h2>Sign Up for Alerts</h2>
          <p>This is going to be an exciting conference and one that will surely define us.</p>
        </div>
        <form id="form1" action="https://cl.exct.net/subscribe.aspx?lid=1521991" name="subscribeForm" method="post" ng-controller="FormController">
          <fieldset>
            <input type="hidden" name="thx" value="https://www.caasco.com/OM/Test/return-travel">
            <input type="hidden" name="err" value="https://www.caasco.com/OM/Test/return-travel">
            <input type="hidden" name="usub" value="">
            <input type="hidden" name="MID" value="10845500">
            <div class="field__group">
              <label for="First Name" ng-class="{'alert--error' : subscribeForm['First Name'].$invalid && subscribeForm['First Name'].$touched}">First Name*</label>
              <input type="text" ng-model="firstname" id="first-name" name="First Name" required>
            </div>
            <div class="field__group">
              <label for="Last Name" ng-class="{'alert--error' : subscribeForm['Last Name'].$invalid && subscribeForm['Last Name'].$touched}">Last Name*</label>
              <input type="text" ng-model="lastname" id="last-name" name="Last Name" required>
            </div>
            <div class="field__group">
              <label for="Email Address" ng-class="{'alert--error' : subscribeForm['Email Address'].$invalid && subscribeForm['Email Address'].$touched}">Email Address*</label>
              <input type="text" ng-model="email" id="email-address" name="Email Address" required>
            </div>
            <div class="field__group">
              <input type="checkbox" ng-model="subscribe" name="Subscribe to CAA Emails Y or N" ng-checked="subscribe">
              <span class="checkbox__check-container"></span>
              <label for="">Yes, I would like to receive updates about the conference from CAA South Central Ontario.</label>
            </div>
          </fieldset>
          <div class="cta__container" ng-show="subscribe">
            <a href="" class="c__btn" tabindex="0" ng-click="submitForm()" ng-disabled="subscribeForm['Email Address'].$invalid && subscribeForm['Email Address'].$touched"> <span>Subscribe</span></a>
          </div>
        </form>
      </div>
    </section>
    </div>
    <footer>
      <div class="l-wrapper">
        <p><a href="./privacy/">Privacy Policy</a> &nbsp;|&nbsp; <a href="./contact/">Contact Us</a></p>
        <p>&copy; 2017 CAA South Central Ontario. All rights reserved. Serving Members in Southern and Central Ontario.</p>
        <p>&reg; CAA trademarks owned by, and use is authorized by, the Canadian Automobile Association. Making bad days good. And good days better. is a trademark of CAA Club Group.</p>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript">

    function addClass(elements, myClass) {
      // if there are no elements, we're done
      if (!elements) { return; }

      // if we have a selector, get the chosen elements
      if (typeof(elements) === 'string') {
        elements = document.querySelectorAll(elements);
      }

      // if we have a single DOM element, make it an array to simplify behavior
      else if (elements.tagName) { elements=[elements]; }

      // add class to all chosen elements
      for (var i=0; i<elements.length; i++) {

        // if class is not already found
        if ( (' '+elements[i].className+' ').indexOf(' '+myClass+' ') < 0 ) {

          console.log("class added!!!")

          // add class
          elements[i].className += ' ' + myClass;
        }
      }
    }

    var touch = 'ontouchstart' in document.documentElement
            || (navigator.MaxTouchPoints > 0)
            || (navigator.msMaxTouchPoints > 0);

    if (!touch) { // remove all :hover stylesheets
        console.log("add hover class");
        //try { // prevent exception on browsers not supporting DOM styleSheets properly
          console.log("try hover class");
          addClass('.c__btn','hover');
        //} catch (ex) {}
    }
    </script>
</body>

</html>
