[[ph-header]]
<section class="l-section pad__section--top content-layout__section">
  <div class="l-wrapper .container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h2>About the Conference.</h2>
        <p>The Ontario School Zone Safety Conference will bring together experts in education, health, enforcement, engineering and policy development to share knowledge, inspire solutions, and collaborate on an action plan to make school zones an actual and perceived safe place for children.</p>
        <p>Through a series of speakers, panel discussions and facilitated workshops, delegates will have a chance to learn, share and collaborate with peers on school zone safety – from the perspectives of engineering, evaluation, education, encouragement and enforcement.</p>
        <p>The facilitated workshops will help draft an action plan on how participants and CAA can move the agenda forward in an efficient and effective manner. </p>
      </div>
      <div class="col-sm-6 image"><img src="/~/media/school-zone-safety-website/img/about.jpg" alt="An image of the back of a school bus."></div>
    </div>
    <div class="row directions__section">
      <div class="col-sm-6 content-layout__column--right" ng-controller="DirectionsController">
        <h2>Why Is CAA Involved?</h2>
        <p>More than 85 years ago, CAA decided that a program was needed to keep children safe while travelling to and from school. At the time, the automobile was becoming more common on our roads and children were getting injured because of its increasing presence near schools.</p>
        <p>We responded with the CAA School Safety Patrol<sup>&reg;</sup> program – a program where annually trained Student Patrollers encourage and model safe behaviour to other students and the greater community.</p>
        <p>Today, with increased traffic – including around schools – safety and security for children and their families travelling to school is more relevant than ever.</p>
      </div>
      <div class="col-sm-6 image">
        <img src="/~/media/school-zone-safety-website/img/history.jpg" alt="A vintage image of a man guiding children across a street.">
      </div>
    </div>
</section>
[[ph-signup]]
[[ph-footer]]