[[ph-header]]
    <section class="hero-section">
      <div class="l-wrapper">
        <div class="hero__copy--center">
          <div class="hero__copy--position">
            <div class="hero__copy">
              <h1>Moving Forward Together.</h1>
              <h2>October 2, 2017 &nbsp;|&nbsp; Toronto, ON</h2>
              <p>Collaborating with experts to make school zones safer.</p>
              <div countdown='' date='2017-10-02T24:00:00' class="countdown__container fadeIn">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="topic__section" ng-mouseover="toggleLight = !toggleLight">
      <div class="l-wrapper">
          <div class="topic-icon__container fadeIn fadeUp">
          <div class="topic-icon__container-circle">

            <svg version="1.1" id="light-bulb" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 46.1 47.5" style="enable-background:new 0 0 46.1 47.5;" width="44px" height="45px" xml:space="preserve">
            <g>
              <path class="light-bulb-0 light-bulb__path-animation" d="M37.4,5.8h6c1.1,0,2,0.9,2,2v37c0,1.1-0.9,2-2,2h-32c-1.1,0-2-0.9-2-2v-17"/>
              <path class="light-bulb-0 light-bulb__path-animation" d="M9.4,11.8v-4c0-1.1,0.9-2,2-2h6"/>
              <polyline class="light-bulb-0 light-bulb__path-animation" points="37.4,9.8 41.4,9.8 41.4,42.8 13.4,42.8 13.4,31.8   "/>
              <polyline class="light-bulb-0 light-bulb__path-animation" points="13.4,15.8 13.4,9.8 17.4,9.8   "/>
              <path class="light-bulb-0 light-bulb__path-animation" d="M34.4,4.8h-3c0-2.2-1.8-4-4-4c-2.2,0-4,1.8-4,4h-3c-1.7,0-3,1.3-3,3v3h20v-3C37.4,6.1,36,4.8,34.4,4.8z"/>
              <line class="light-bulb-0 light-bulb__path-animation" x1="27.4" y1="3.8" x2="27.4" y2="5.8"/>
              <polygon class="light-bulb-1 light-bulb__path-animation" points="6.4,12.8 25.4,31.8 28.4,38.8 21.4,35.8 2.4,16.8  "/>
              <path class="light-bulb-1 light-bulb__path-animation" d="M5.4,12.8l-1-1c-0.8-0.8-2.2-0.8-3,0l0,0c-0.8,0.8-0.8,2.2,0,3l1,1"/>
              <line class="light-bulb-1 light-bulb__path-animation" x1="24.4" y1="31.8" x2="21.4" y2="34.8"/>
            </g>
            </svg>

          </div>
        </div> <!-- topic-icon__container -->
        <div class="topic__copy">
          <h2>Register Today.</h2>
          <p>Reserve your place at the Ontario School Zone Safety Conference to be part of the conversation.</p>
          <a href="/Proposals/" class="c__btn-ghost c__btn-ghost--white"><span>Learn More</span></a>
        </div>
      </div>
    </section>
    <section class="l-section pad__section--top content-layout__section conference__layout">
      <div class="l-wrapper container-fluid">
        <div class="row row__margin-bottom--small">
          <div class="col-sm-6 content-layout__copy content-layout__column--right">
            <div class="content-layout__copy--middle">
              <h2>About the Conference.</h2>
              <p>Ideas, collaborations, expertise &ndash; the Ontario School Zone Safety Conference will bring together the right people to move school zone safety forward in Ontario.</p>
              <div class="cta__container">
                <a href="/About/" class=" c__btn-ghost c__btn-ghost--green" tabindex="0"> <span>Learn More</span></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 image"><img src="/~/media/school-zone-safety-website/img/about.jpg" alt="People laughing during a conference."></div>
        </div>
        <div class="row">
          <div class="col-sm-6 content-layout__copy ">
            <div class="content-layout__copy--middle">
              <h2>Venue and Transportation.</h2>
              <p>To ensure we are comfortable throughout the conference, we have selected the Chelsea Hotel, Toronto as our venue.</p>
              <div class="cta__container">
                <a href="/Venue/" class=" c__btn-ghost c__btn-ghost--green" tabindex="0"> <span>Learn More</span></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 image"><img src="/~/media/school-zone-safety-website/img/chelsea-hotel-exterior.jpg" alt=""></div>
        </div>
    </section>
    [[ph-signup]]
[[ph-footer]]