[[ph-header]]
<section class="l-section pad__section--top content-layout__section">
  <div class="l-wrapper .container-fluid">
    <div class="row topic-suggestions__section">
          <div class="col-sm-6">
            <h2>Call for Proposals</h2>
            <p>The Ontario School Zone Safety Conference is the perfect venue to make connections with key stakeholders – inside and outside your existing network. You will also have a chance to share your work with interested stakeholders in an environment conducive to positive discussion and valuable feedback. More importantly, you can be a part of building an Ontario-wide action plan that we can all get behind.</p>
            <p>We will be expecting 15-20 minute presentations with visual aid (slide deck or other format) that will be delivered among a panel of presenters. There will be an opportunity for discussion with delegates.</p>
          </div>
          <div class="col-sm-6 image"><img src="/~/media/school-zone-safety-website/img/topics.jpg" alt="A chalkboard with hand drawn chalk outlines of hanging lightbulbs that are white in color. One of lightbulbs is large tahn the others and is being drawn by a single female looking hand and it's color is yellow."></div>
        </div>
        <div class="topic-themes__section">
          <h3>Conference Themes.</h3>
          <p>We are looking for presenters who can contribute their professional knowledge or research on school zone safety issues using the following themes to guide their proposal submission.</p>
          <div class="row">
            <div class="col-sm-6">
              <strong>The Built Environment – The physical space we use daily influences how we move and live.</strong>
              <p>Engineering, planning and design case studies, innovations, research and policies impacting school zones and the transportation to schools for students and their families.</p>
            </div>
            <div class="col-sm-6">
              <strong>Community and Social Norms – Social expectations and community culture impact our decisions.</strong>
              <p>Studies, programs and policies focused on community expectations, values, biases and perception where they impact perceived and actual safety of school zones.</p>
            </div>
          </div>
        </div>
        <div class="topic-criteria__section">
          <h3>Criteria.</h3>
          <p>Proposals will be evaluated with the following criteria:</p>
          <div class="row">
            <div class="col-sm-6">
              <ul>
                <li>Relevance to conference attendees</li>
                <li>Potential for active audience engagement during Q &amp; A</li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul>
                <li>Clear connection to the conference themes</li>
                <li>Quality of writing ensures content can be clearly&nbsp;communicated</li>
              </ul>
            </div>
          </div>
          <strong>Deadline to submit: Friday, April 28, 2017.</strong>
        </div>
  </div>
</section>
<section>
  <script src="https://assets.hscampaigns.com/assets/js/iframe.min.js"></script>
  <iframe width="100%" frameBorder="0" scrolling="no" src='https://schoolzonesafetyconference.hscampaigns.com' id="bk_iframe" onload="resizeCrossDomainIframe('bk_iframe', 'https://schoolzonesafetyconference.hscampaigns.com');" allowfullscreen></iframe>
</section>

[[ph-signup]]
[[ph-footer]]