[[ph-header]]
<section class="l-section pad__section--top content-layout__section">
  <div class="l-wrapper .container-fluid">
    <div class="row sponsorship-description__section">
          <div class="col-sm-6">
            <h2>Sponshorship Package.</h2>
            <p>We are currently seeking Gold, Silver and Bronze sponsors for this event. If your organization is interested in supporting this educational initiative as a corporate sponsor, please contact us at <a href="mailto:trafficsafety@caasco.ca">trafficsafety@caasco.ca</a>.</p>
          </div>
          <div class="col-sm-6 image"><img src="/~/media/school-zone-safety-website/img/sponsorship.jpg" alt="A focus on the hand of a woman with another woman and two men clapping beside her in a row."></div>
        </div>
        <div class="row sponsorship-tabs__section">
          <div class="l-wrapper">
            <div ng-controller="SponsorshipController" class="sponsorship__tab-container">
              <div class="sponsorship__tabs">
                <a href="#" ng-repeat="tab in tabs" class="sponsorship__tab" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)"><span>{{tab.title}}</span></a>
              </div>
              <div ng-include="currentTab" class="sponsorship__tab-content fade"></div>
              <script type="text/ng-template" id="gold.tpl.html">
                <h3>Go for Gold.</h3>
                <p>A Gold sponsorship costs $10,000 and offers you numerous benefits:</p>
                <ul class="checkmark__list-group">
                  <li>Co-sponsorship Presenting Title</li>
                  <li>Company name and/or logo as an identified gold sponsor on all print materials, including conference website, signage and conference program</li>
                  <li>Provide giveaway(s)/draw prize(s)</li>
                  <li>Four full conference passes for company delegates</li>
                  <li>Four invitations to the reception following the conference</li>
                  <li>Exhibitor table</li>
                </ul>
              </script>
              <script type="text/ng-template" id="silver.tpl.html">
                <h3>Go for Silver.</h3>
                  <p>A Silver sponsorship costs $5,000 and will provide you with the following:</p>
                  <ul class="checkmark__list-group">
                    <li>Company name and/or logo as an identified Silver sponsor on all print materials, including conference website, signage and conference program</li>
                    <li>Provide giveaway(s)/draw prize(s)</li>
                    <li>Two full conference passes for company delegates</li>
                    <li>Two invitations to the reception following the conference</li>
                    <li>Exhibitor table</li>
                  </ul>
              </script>
              <script type="text/ng-template" id="bronze.tpl.html">
                <h3>Go for Bronze.</h3>
                <p>A Bronze sponsorship costs $2,500 and here's what you will get:</p>
                <ul class="checkmark__list-group">
                  <li>Company name and/or logo as an identified Bronze sponsor on all print materials, including conference website, signage and conference program</li>
                  <li>Provide giveaway(s)/draw prize(s)</li>
                  <li>One full conference pass for company delegate</li>
                  <li>One invitation to the reception following the conference</li>
                  <li>Exhibitor table</li>
                </ul>
              </script>
            </div>
          </div>
        </div>
        <div class="sponsorship-cause__section row">
          <div class="col-xs-12 col-md-8">
            <h2>Become a Sponsor and Help Champion the Cause.</h2>
            <p>If you&rsquo;re interested in becoming a sponsor, then download our package, which will provide you with all the details. Please submit the completed package form to Anna Mierzejewski at <a href="mailto:trafficsafety@caasco.ca">trafficsafety@caasco.ca</a> by July 7, 2017.</p>
          </div>
          <div class="col-sm-6 col-md-4 image">
            <div class="cta__container">
              <a href="/~/media/school-zone-safety-website/pdf/School-Zone-Safety-Conference-2017-Sponsorship-Package.pdf" class=" c__btn-ghost c__btn-ghost--green" tabindex="0" target="_blank"> <span>Download PDF</span></a>
            </div>
          </div>
        </div>
  </div>
</section>
[[ph-signup]]
[[ph-footer]]