<div class="row conference-description__section">
  <div class="col-sm-6">
    <h2>Join the Conversation.</h2>
    <p>The Ontario School Zone Safety Conference takes place at the Chelsea Hotel in Toronto on October 2, 2017. When you register, you will have an opportunity to reserve a room at the preferred delegate rate. Rooms are limited so please register early.</p>
  </div>
  <div class="col-sm-6 image"><img alt="A child with a grey winter jacket and blue backpack holding the left hand of an adult, and a child on with a red jacket and pink backpack holding the right hand of the adult, while they are all walking." src="https://www.caasco.com/~/media/school-zone-safety-website/img/register.jpg" /></div>
</div>
<div class="clear">&nbsp;</div>
<div class="conference-rates__section">
  <h2>Conference Rates.</h2>
  <div class="bg-blue">
    <div class="col-two"><strong>General:</strong></div>
    <div class="col-two">$99 plus HST</div>
  </div>
  <div>
    <div class="col-two"><strong>Non-profit/NGO:</strong></div>
    <div class="col-two">$75 plus HST</div>
  </div>
  <div class="bg-blue">
    <div class="col-two"><strong>Student (Full-time):</strong></div>
    <div class="col-two">$65 plus HST</div>
  </div>

</div>
<div class="clear">&nbsp;</div>
<div class="register-pay__section">
  <h2>Register and Pay for the Conference.</h2>
  <p>Create an account below by completing all the fields.</p>
</div>
