[[ph-header]]
<section class="l-section pad__section--top content-layout__section">
  <div class="l-wrapper .container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h2>Venue.</h2>
        <h3><a href="http://www.chelseatoronto.com/en/" target="_blank">Chelsea Hotel, Toronto</a></h3>
        <p>33 Gerrard Street West
          <br>Toronto, Ontario
          <br>M5G 1Z4</p>
      </div>
      <div class="col-sm-6 image"><img src="/~/media/school-zone-safety-website/img/chelsea-hotel-exterior.jpg" alt="The Chelsea Hotel driveway entrance seen a night with lights filling up the entrance area."></div>
    </div>
    <div class="row directions__section">
      <div class="col-sm-6 content-layout__column--right" ng-controller="DirectionsController">
        <h2>Directions.</h2>
        <div class="directions-drop-down__container">
              <div class="directions-drop-down__menu">
                <a href="#" class="directions-drop-down__item" ng-click="dropMenu = !dropMenu">
                  <div class="directions-drop-down__label" >
                    <span class="directions-drop-down__default-option directions-drop-down__label-copy" ng-repeat="option in options" ng-class="{active:isActiveOption(option.url)}">{{option.title}}</span><i class="icon-arrow-down icon-arrow-down--absolute-right"></i>
                  </div>
                </a>
                <div class="directions-drop-down__options" ng-show="dropMenu">
                  <a href="#" class="directions-drop-down__item" ng-repeat="option in options" ng-click="onClickOption(option)" ng-class="{active:isActiveOption(option.url)}">
                    <div class="directions-drop-down__label">
                      <span class="directions-drop-down__label-copy" >{{option.title}}</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
        <div ng-include="currentItem"></div>
      </div>
      <div class="col-sm-6 directions__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.493664444461!2d-79.38517604865211!3d43.65870185999004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34b57f88aad5%3A0xa9bf8d18c55906a9!2sChelsea+Hotel%2C+Toronto!5e0!3m2!1sen!2sca!4v1488986120405" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <script type="text/ng-template" id="one.tpl.html">
        <div ng-controller="TransportationController">
          <h3>From Toronto Pearson International Airport.</h3>
          <div class="transportation__description desktop--hide">
            <strong>Transit</strong>
            <p>UP Express - Trains between downtown Toronto and Pearson Airport take 25 minutes and runs every 15 minutes. (5:30am - 1:00am Daily)</p>
            <strong>By Taxi</strong>
            <p>Pearson Airport is approximately 30 km and 30 minutes west of the city centre. Airport limousine services and taxis are located on the ground level of Terminal 1 and the arrivals level at Terminal 3. Fares average approximately C$50.</p>
            <strong>By Car</strong>
            <p>Head east and follow signs to Highway 409 East. Take Exit 1 and travel to Highway 427 or 401. Exit onto 427 South to 401 West. Keep left and follow signs for Gardiner Expressway/Toronto and merge onto Gardiner Expressway East. Take the Spadina Avenue exit. Turn left onto Lower Spadina Avenue. Turn right onto Adelaide Street. Turn left onto University Avenue. Turn right onto Gerrard Street. Chelsea Hotel, Toronto is on the right.</p>
          </div>
          <div class="transportation__tabs mobile--hide">
            <a href="#" ng-repeat="tab in tabs" class="transportation__tab" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">{{tab.title}}</a>
          </div>
          <div ng-include="currentTab" class="fade mobile--hide"></div>
          <script type="text/ng-template" id="transit.tpl.html">
            <p>Board the UP Express. Trains between downtown Toronto and Toronto Pearson International Airport take 25 minutes and run every 15 minutes (5:30 a.m. to 1:00 a.m. daily).</p>
            <p>There are various transit options to help you get to the conference. Whether you&rsquo;re travelling by bus, subway or train, use <a href="https://www.triplinx.ca/en/trip-planner/4/JourneyPlanner/result?Date=3%2F8%2F2017&TypeDate=68&Hour=2&Minute=20&Meridian=PM&Algorithm=Fastest&TypeTrip=PlanTrip&ListModes=Bus%7CMetro%7CTram%7CTrain%7CBoat&ListPartners=9%7C7%7C11%7C2%7C8%7C5%7C10%7C6%7C15%7C16%7C3%7C14%7C4&CarDistance=25&CarLeave=1&BikeDistance=10&WalkDistance=1000&WalkSpeed=4&DurationVia=30&PointDep=211000006_1&LatDep=43.681468&LngDep=-79.611621&PointArr=507788_7_33&NumArr=33&LatArr=43.6588411615925&LngArr=-79.3833097695865" target="_blank">Triplinx</a> to help plan your trip.</p>
          </script>
          <script type="text/ng-template" id="car.tpl.html">
            <p>Head east and follow signs to Highway 409 East. Take Exit 1 and travel to Highway 427 or 401. Exit onto 427 South to 401 West. Keep left and follow signs for Gardiner Expressway/Toronto and merge onto Gardiner Expressway East. Take the Spadina Avenue exit. Turn left onto Lower Spadina Avenue. Turn right onto Adelaide Street. Turn left onto University Avenue. Turn right onto Gerrard Street. The Chelsea Hotel, Toronto is on the right.</p>
          </script>
          <script type="text/ng-template" id="taxi.tpl.html">
            <p>Toronto Pearson International Airport is approximately 30 kilometres and 30 minutes west of the city centre. Airport limousine services and taxis are located on the ground level of Terminal 1 and the arrivals level at Terminal 3. Fares average approximately $50 CAD.</p>
          </script>
        </div>
      </script>
      <script type="text/ng-template" id="two.tpl.html">
        <div>
          <h3>From Billy Bishop Toronto City Airport.</h3>
          <p>Passengers can take the new pedestrian tunnel from Billy Bishop Airport to the Mainland. Chelsea Hotel, Toronto is a 10-15 minute taxi ride from the ferry terminal.</p>
        </div>
      </script>
      <script type="text/ng-template" id="three.tpl.html">
        <div>
          <h3>By Transit.</h3>
          <p>There are various transit options to help you get to the conference. Whether you&rsquo;re travelling by bus, subway or train, use <a href="https://www.triplinx.ca/en/trip-planner/4/JourneyPlanner?KeywordDep=&PointDep=&LatDep=&LngDep=&NumDep=&PointArr=15149_3_33&KeywordArr=33+Gerrard+Street+West+&KeywordVia=&PointVia=&LatVia=&LngVia=&NumVia=&DurationVia=30&Date=3%2F7%2F2017&TypeDate=68&Hour=2&Minute=20&Meridian=PM&Submit=True&TypeTrip=PlanTrip&Algorithm=Fastest&WalkDistance=1000&WalkSpeed=4&Modes=Bus&Modes=Metro&Modes=Tram&Modes=Train&Modes=Boat&Partners=9&Partners=7&Partners=11&Partners=2&Partners=8&Partners=5&Partners=10&Partners=6&Partners=15&Partners=16&Partners=3&Partners=14&Partners=4&BikeDistance=10&CarDistance=25&CarLeave=1" target="_blank">Triplinx</a> to help plan your trip.</p>
        </div>
      </script>
    </div>
</section>
[[ph-signup]]
[[ph-footer]]