[[ph-header]]

<style type="text/css">
#warning-rotate {
  background-color:red;
  height:100%;
  width:100%;
  text-align:center;
  display:none;
  position: fixed;
  z-index: 110;
  top:0;
}
#warning-rotate p {
  max-width: 400px;
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform: perspective(1px) translate3d(-50%, -50%, 0);
  -ms-transform: perspective(1px) translate3d(-50%, -50%, 0);
  transform: perspective(1px) translate3d(-50%, -50%, 0);
}

</style>
<section class="content-layout__section">
  <div class="regpak-wrapper">
    <div class="conference-register__section">
      <div id="regpack_iframe_container"><div id="regpack_noscript_div"><a href="http://www.regpacks.com/">Registration system for: CAA South Central Ontario</a></div><script id="regpack_iframe" type="text/javascript" data-cfasync="false" src="https://www.regpacks.com/reg/regpack_iframe.js?gid=100202716"></script></div>
    </div>
  </div>
</section>
<div id="warning-rotate"><p><strong>This page does not support a landscape view for mobile and tablet devices. Please rotate your device and view in portrait mode.</strong></p></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
(function(){

    (function(i){var e=/iPhone/i,n=/iPod/i,o=/iPad/i,t=/(?=.*\bAndroid\b)(?=.*\bMobile\b)/i,r=/Android/i,d=/BlackBerry/i,s=/Opera Mini/i,a=/IEMobile/i,b=/(?=.*\bFirefox\b)(?=.*\bMobile\b)/i,h=RegExp("(?:Nexus 7|BNTV250|Kindle Fire|Silk|GT-P1000)","i"),c=function(i,e){return i.test(e)},l=function(i){var l=i||navigator.userAgent;this.apple={phone:c(e,l),ipod:c(n,l),tablet:c(o,l),device:c(e,l)||c(n,l)||c(o,l)},this.android={phone:c(t,l),tablet:!c(t,l)&&c(r,l),device:c(t,l)||c(r,l)},this.other={blackberry:c(d,l),opera:c(s,l),windows:c(a,l),firefox:c(b,l),device:c(d,l)||c(s,l)||c(a,l)||c(b,l)},this.seven_inch=c(h,l),this.any=this.apple.device||this.android.device||this.other.device||this.seven_inch},v=i.isMobile=new l;v.Class=l})(window);

    function mobileOrientation() {

        if(typeof window.orientation === 'undefined') {

            var test = window.matchMedia("(orientation: landscape)");

            test.addListener(function(m) {

                if ($('#form').is(":hidden")){

                    if(m.matches) {
                        $('#warning-rotate').show();
                    } else {
                        $('#warning-rotate').hide();
                    }
                }

            });

        } else {

            function statusOrientPage(){

                if( window.orientation != 0 ){
                  //  $('#fullpage').hide();
                    $('#warning-rotate').show();
                } else {
                    $('#warning-rotate').hide();
                }

            }

            statusOrientPage();
            window.addEventListener("orientationchange", function() { statusOrientPage(); }, false);

        }

    };

    if (isMobile.apple.phone || isMobile.apple.tablet || isMobile.android.phone || isMobile.android.tablet || isMobile.seven_inch) { mobileOrientation(); }

})(window);
</script>
[[ph-signup]]
[[ph-footer]]