<style>iframe{width:100%}</style>
<section class="sign-up__section">
    <iframe src="/OM/School-Zone-Safety-Conference/SignUpFrame" id="signupframe" frameborder="0" scrolling="no"></iframe>
</section>
<script src="/~/media/school-zone-safety-website/js/iframeResizermin"></script>
<script>iFrameResize({log:true}, '#signupframe')</script>