<!DOCTYPE HTML>
<html ng-app="schoolApp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <title>Purchase your CAA membership today! - CAA South Central Ontario</title>
  <link type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/2dc67787-4d8d-43bf-a8f6-96f474b9302e.css" />
  <link rel="stylesheet" href="/~/media/css/icons.css" type="text/css">
  <link rel="stylesheet" href="/~/media/school-zone-safety-website/css/style.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
  <script src="/~/media/school-zone-safety-website/js/app.js"></script>
</head>

<body class="sign-up">

<div class="l-wrapper" style="margin: 0px auto;">
<div class="sign-up__copy">
          <h2>Sign up for Alerts.</h2>
          <p>Sign up here for updates on calls for proposals, conference registration and speakers. You can unsubscribe at any time by clicking on the unsubscribe link at the bottom of our emails.</p>
        </div>
        <form id="form1" action="https://cl.exct.net/subscribe.aspx?lid=1521991" name="subscribeForm" method="post" ng-controller="FormController">
          <fieldset>
            <input type="hidden" name="thx" value="https://www.schoolzonesafety.ca/SignUpReturn">
            <input type="hidden" name="err" value="https://www.schoolzonesafety.ca/SignUpReturn">
            <input type="hidden" name="usub" value="">
            <input type="hidden" name="MID" value="10845500">
            <div class="field__group">
              <label for="First Name" ng-class="{'alert--error' : subscribeForm['First Name'].$invalid && subscribeForm['First Name'].$touched}">First Name*</label>
              <input type="text" ng-model="firstname" id="first-name" name="First Name" required>
            </div>
            <div class="field__group">
              <label for="Last Name" ng-class="{'alert--error' : subscribeForm['Last Name'].$invalid && subscribeForm['Last Name'].$touched}">Last Name*</label>
              <input type="text" ng-model="lastname" id="last-name" name="Last Name" required>
            </div>
            <div class="field__group remove__margin">
              <label for="Email Address" ng-class="{'alert--error' : subscribeForm['Email Address'].$invalid && subscribeForm['Email Address'].$touched}">Email Address*</label>
              <input type="email" ng-model="email" id="email-address" name="Email Address" required>
            </div>
          </fieldset>
          <div class="cta__container">
            <a href="" class="c__btn" tabindex="0" ng-click="submitForm()" ng-disabled="subscribeForm['Email Address'].$invalid && subscribeForm['Email Address'].$touched"> <span>Subscribe</span></a>
          </div>
          <p class="sign-up__address">CAA South Central Ontario, 60 Commerce Valley Drive East, Thornhill, Ontario</p>
        </form>
</div>

<script src="/~/media/school-zone-safety-website/js/iframeResizercontentWindowmin"></script>
<script type="text/javascript">
function addClass(elements, myClass) {

      // if there are no elements, we're done
      if (!elements) { return; }

      // if we have a selector, get the chosen elements
      if (typeof(elements) === 'string') {
        elements = document.querySelectorAll(elements);
      }

      // if we have a single DOM element, make it an array to simplify behavior
      else if (elements.tagName) { elements=[elements]; }

      // add class to all chosen elements
      for (var i=0; i<elements.length; i++) {

        // if class is not already found
        if ( (' '+elements[i].className+' ').indexOf(' '+myClass+' ') < 0 ) {

          // add class
          elements[i].className += ' ' + myClass;
        }
      }
    }

    var touch = 'ontouchstart' in document.documentElement
            || (navigator.MaxTouchPoints > 0)
            || (navigator.msMaxTouchPoints > 0);

    if (!touch) { // remove all :hover stylesheets
        try { // prevent exception on browsers not supporting DOM styleSheets properly
          addClass('.c__btn','hover');
        } catch (ex) {}
    }
</script>
</body>
</html>