<!DOCTYPE HTML>
<html ng-app="schoolApp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <title>Purchase your CAA membership today! - CAA South Central Ontario</title>
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/2dc67787-4d8d-43bf-a8f6-96f474b9302e.css" />
  <link rel="stylesheet" href="caa/icons.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
  <script src="js/app.js"></script>
</head>

<body ng-controller="NavController" ng-class="{'overflow-y--hidden' : toggleNav}">
  <div class="header-navigation">
    <header class="school-zone__header">
      <div class="l-wrapper">
        <div class="school-zone__header-column--logo"><a class="c-caa__logo" href="/">CAA | Insurance, Travel, Roadside and Rewards</a></div>
        <div class="school-zone__header-column--title">
          <h2>Ontario School Zone Safety Conference</h2></div>
        <div class="school-zone__header-column--mobile-menu"><a href="#" id="mobile-menu-btn" class="mobile-menu__button" ng-click="toggleNav = !toggleNav"><i ng-class="toggleNav ? 'icon-close-mobile' : 'icon-menu'"></i></a></div>
      </div>
    </header>
    <nav class="navigation" ng-class="{'navigation-modal' : toggleNav}">
      <div class="l-wrapper">
        <div class="navigation__column navigation-info">
          <ul class="">
            <li>

                <svg version="1.1" id="icon-calendar" class="nav__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="20px" viewBox="0 0 111 81" style="enable-background:new 0 0 111 81;" xml:space="preserve">
                  <path class="st0" d="M109,23.5H1.2c-0.8,0-1.5-0.7-1.5-1.5V10.2c0-5.8,4.7-10.6,10.6-10.6H100c5.8,0,10.6,4.7,10.6,10.6V22
  C110.5,22.8,109.8,23.5,109,23.5z M2.7,20.5h104.9V10.2c0-4.2-3.4-7.6-7.6-7.6H10.2C6,2.6,2.6,6,2.6,10.2v10.3H2.7z" />
                  <rect x="23.4" y="14.6" class="st0" width="3" height="13.5" />
                  <rect x="83.8" y="14.6" class="st0" width="3" height="13.5" />
                  <path class="st0" d="M93.5,81.1H1.2c-0.8,0-1.5-0.7-1.5-1.5V22c0-0.8,0.7-1.5,1.5-1.5H109c0.8,0,1.5,0.7,1.5,1.5v42
  c0,0.1,0,0.1,0,0.2c0,0.3-0.2,0.7-0.4,0.9L94.5,80.6C94.3,80.9,93.9,81.1,93.5,81.1z M2.7,78.1h90.2l14.7-14.7V23.5H2.7V78.1z" />
                  <path class="st0" d="M93.5,81.1H1.2c-0.8,0-1.5-0.7-1.5-1.5V22c0-0.8,0.7-1.5,1.5-1.5H109c0.8,0,1.5,0.7,1.5,1.5v42
  c0,0.1,0,0.1,0,0.2c0,0.3-0.2,0.7-0.4,0.9L94.5,80.6C94.3,80.9,93.9,81.1,93.5,81.1z M2.7,78.1h90.2l14.7-14.7V23.5H2.7V78.1z" />
                  <path class="st0" d="M50.9,42.7H37.4c-0.8,0-1.5-0.7-1.5-1.5V35c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5v6.2
  C52.4,42,51.8,42.7,50.9,42.7z" />
                  <path class="st0" d="M29.2,42.7H15.7c-0.8,0-1.5-0.7-1.5-1.5V35c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5v6.2
  C30.7,42,30,42.7,29.2,42.7z" />
                  <path class="st0" d="M72.7,42.7H59.2c-0.8,0-1.5-0.7-1.5-1.5V35c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5v6.2
  C74.2,42,73.6,42.7,72.7,42.7z" />
                  <path class="st0" d="M94.5,42.7H81c-0.8,0-1.5-0.7-1.5-1.5V35c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5v6.2
  C96,42,95.3,42.7,94.5,42.7z" />
                  <path class="st0" d="M29.2,56.5H15.7c-0.8,0-1.5-0.7-1.5-1.5v-6.2c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5V55
  C30.7,55.8,30,56.5,29.2,56.5z" />
                  <path class="st0" d="M50.9,56.5H37.4c-0.8,0-1.5-0.7-1.5-1.5v-6.2c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5V55
  C52.4,55.8,51.8,56.5,50.9,56.5z" />
                  <path class="st0" d="M72.7,56.5H59.2c-0.8,0-1.5-0.7-1.5-1.5v-6.2c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5V55
  C74.2,55.8,73.6,56.5,72.7,56.5z" />
                  <path class="st0" d="M94.5,56.5H81c-0.8,0-1.5-0.7-1.5-1.5v-6.2c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5V55
  C96,55.8,95.3,56.5,94.5,56.5z" />
                  <path class="st0" d="M29.2,70.2H15.7c-0.8,0-1.5-0.7-1.5-1.5v-6.2c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5v6.2
  C30.7,69.5,30,70.2,29.2,70.2z" />
                  <path class="st0" d="M50.9,70.2H37.4c-0.8,0-1.5-0.7-1.5-1.5v-6.2c0-0.8,0.7-1.5,1.5-1.5h13.5c0.8,0,1.5,0.7,1.5,1.5v6.2
  C52.4,69.5,51.8,70.2,50.9,70.2z" />
                </svg>
                <span>October 2, 2017</span>
            </li>
            <li>

                <svg version="1.1" id="icon-location" class="nav__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="23px" width="20px" viewBox="0 0 60.7 80.7" style="enable-background:new 0 0 60.7 80.7;" xml:space="preserve">
                  <path class="st0" d="M30.3,80.7c-0.6,0-1.1-0.2-1.5-0.7C27.6,78.8,0,49.4,0,30.3C0,13.6,13.6,0,30.3,0c16.7,0,30.3,13.6,30.3,30.3
  c0,19-27.6,48.4-28.8,49.7C31.5,80.4,30.9,80.7,30.3,80.7z M30.3,4.2C15.9,4.2,4.2,15.9,4.2,30.3c0,15,20.4,38.7,26.2,45.2
  c5.8-6.4,26.2-30.2,26.2-45.2C56.5,15.9,44.8,4.2,30.3,4.2z M30.4,46.3c-8.8,0-15.9-7.1-15.9-15.9c0-8.8,7.1-15.9,15.9-15.9
  c8.8,0,15.9,7.1,15.9,15.9C46.3,39.1,39.2,46.3,30.4,46.3z M30.4,18.6c-6.5,0-11.7,5.3-11.7,11.7c0,6.5,5.3,11.7,11.7,11.7
  c6.5,0,11.7-5.3,11.7-11.7C42.1,23.9,36.9,18.6,30.4,18.6z" />
                </svg><span>Toronto, Ontario</span>
            </li>
          </ul>
        </div>
        <div class="navigation__column navigation-main">
          <ul class="">
            <li><a href="#"><span>About</span></a></li>
            <li><a href="#"><span>Venue</span></a></li>
            <li><a href="#"><span>Contact</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="content">
    <section class="l-section pad__section--top content-layout__section">
      <div class="l-wrapper .container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h2>Venue.</h2>
            <h3 class="font-color--green">The Chelsea Hotel, Toronto</h3>
            <p>33 Gerrard Street West<br>Toronto, Ontario<br>M5G 1Z4</p>
          </div>
          <div class="col-sm-6 image"><img src="./img/chelsea-hotel-exterior.jpg" alt="People laughing during a conference."></div>
        </div>
        <div class="row directions__section">
          <div class="col-sm-6 content-layout__column--right" ng-controller="DirectionsController">
            <h2>Directions</h2>
            <!-- <select class="option--text-black" tabindex="5" ng-model="selected" ng-change="switchItems()" ng-init="selected = currentItem">
              <option value="one.tpl.html">
                Toronto Pearson International Airport
              </option>
              <option value="two.tpl.html">
                Billy
              </option>
              <option value="three.tpl.html">
                Button
              </option>
            </select> -->
            <div class="directions-drop-down__container">
              <div class="directions-drop-down__menu">
                <a href="#" class="directions-drop-down__item" ng-click="dropMenu = !dropMenu">
                  <div class="directions-drop-down__label" >
                    <span class="directions-drop-down__label-copy">Toronto Pearson International Airport</span><i class="icon-arrow-down icon-arrow-down--absolute-right"></i>
                  </div>
                </a>
                <div class="directions-drop-down__options" ng-show="dropMenu">
                  <a href="#" class="directions-drop-down__item">
                    <div class="directions-drop-down__label">
                      <span class="directions-drop-down__label-copy">Billy Bishop</span>
                    </div>
                  </a>
                  <a href="#" class="directions-drop-down__item">
                    <div class="directions-drop-down__label">
                      <span class="directions-drop-down__label-copy">Transit</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div ng-include="currentItem" class="fade"></div>
          </div>
          <div class="col-sm-6 directions__map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.4928087290077!2d-79.3852741846845!3d43.658719660092075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34ca80192fe9%3A0xac35dbf29697e4d9!2s33+Gerrard+St+W%2C+Toronto%2C+ON+M5G+1Z4!5e0!3m2!1sen!2sca!4v1488571314632" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe></div>
          <script type="text/ng-template" id="one.tpl.html">
            <div ng-controller="TransportationController">
              <h3>From Toronto Pearson International Airport</h3>
              <div class="transportation__description desktop--hide">
                <strong>Transit</strong>
                <p>UP Express - Trains between downtown Toronto and Pearson Airport take 25 minutes and runs every 15 minutes. (5:30am - 1:00am Daily)</p>
                <strong>By Taxi</strong>
                <p>Pearson Airport is approximately 30 km and 30 minutes west of the city centre. Airport limousine services and taxis are located on the ground level of Terminal 1 and the arrivals level at Terminal 3. Fares average approximately C$50.</p>
                <strong>By Car</strong>
                <p>Head east and follow signs to Highway 409 East. Take Exit 1 and travel to Highway 427 or 401. Exit onto 427 South to 401 West. Keep left and follow signs for Gardiner Expressway/Toronto and merge onto Gardiner Expressway East. Take the Spadina Avenue exit. Turn left onto Lower Spadina Avenue. Turn right onto Adelaide Street. Turn left onto University Avenue. Turn right onto Gerrard Street. Chelsea Hotel, Toronto is on the right.</p>
              </div>
              <div class="transportation__tabs mobile--hide">
                <a href="#" ng-repeat="tab in tabs" class="transportation__tab" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">{{tab.title}}</a>
              </div>
              <div ng-include="currentTab" class="fade mobile--hide"></div>
              <script type="text/ng-template" id="transit.tpl.html">
              <p>UP Express - Trains between downtown Toronto and Pearson Airport take 25 minutes and runs every 15 minutes. (5:30am - 1:00am Daily)</p>
              </script>
              <script type="text/ng-template" id="car.tpl.html">
              <p>Pearson Airport is approximately 30 km and 30 minutes west of the city centre. Airport limousine services and taxis are located on the ground level of Terminal 1 and the arrivals level at Terminal 3. Fares average approximately C$50.</p>
              </script>
              <script type="text/ng-template" id="taxi.tpl.html">
              <p>Head east and follow signs to Highway 409 East. Take Exit 1 and travel to Highway 427 or 401. Exit onto 427 South to 401 West. Keep left and follow signs for Gardiner Expressway/Toronto and merge onto Gardiner Expressway East. Take the Spadina Avenue exit. Turn left onto Lower Spadina Avenue. Turn right onto Adelaide Street. Turn left onto University Avenue. Turn right onto Gerrard Street. Chelsea Hotel, Toronto is on the right.</p></script>
            </div>
            </script>
            <script type="text/ng-template" id="two.tpl.html">
            <div>
              <h2>Billy Bishop</h2>
              <p>Billy Bee - Trains between downtown Toronto and Pearson Airport take 25 minutes and runs every 15 minutes. (5:30am - 1:00am Daily)</p>
            </div>
            </script>
            <script type="text/ng-template" id="three.tpl.html">
            <div>
              <h2>Buttonville</h2>
              <p>Buttons mc button</p>
            </div>
            </script>
        </div>
    </section>
  </div>
  <footer>
    <div class="l-wrapper">
      <p>Privacy Policy | Contact Us</p>
      <p>&copy; 2017 CAA South Central Ontario. All rights reserved. Serving Members in Southern and Central Ontario.</p>
      <p>&reg; CAA trademarks owned by, and use is authorized by, the Canadian Automobile Association. Making bad days good. And good days better. is a trademark of CAA Club Group.</p>
    </div>
  </footer>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/main.js"></script> -->
</body>

</html>
