/*************************************
Author(s):eChannel
*************************************/
@import url("//fast.fonts.net/t/1.css?apiType=css&projectid=2dc67787-4d8d-43bf-a8f6-96f474b9302e");
@font-face {
  font-family: "Neue Helvetica W01_n3";
  src: url("/~/media/css/Fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Neue Helvetica W01";
  src: url("/~/media/css/Fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix");
  src: url("/~/media/css/Fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot"), url("/~/media/css/Fonts/5a13f7d1-b615-418e-bc3a-525001b9a671.woff2") format("woff2"), url("/~/media/css/Fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"), url("/~/media/css/Fonts/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"), url("/~/media/css/Fonts/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Neue Helvetica W01_n4";
  src: url("/~/media/css/Fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Neue Helvetica W01";
  src: url("/~/media/css/Fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix");
  src: url("/~/media/css/Fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix") format("eot"), url("/~/media/css/Fonts/b0868b4c-234e-47d3-bc59-41ab9de3c0db.woff2") format("woff2"), url("/~/media/css/Fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"), url("/~/media/css/Fonts/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"), url("/~/media/css/Fonts/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Neue Helvetica W01_n7";
  src: url("/~/media/css/Fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Neue Helvetica W01";
  src: url("/~/media/css/Fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix");
  src: url("/~/media/css/Fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix") format("eot"), url("/~/media/css/Fonts/3b303641-706e-4221-94c4-4fb491f4f8ef.woff2") format("woff2"), url("/~/media/css/Fonts/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"), url("/~/media/css/Fonts/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype"), url("/~/media/css/Fonts/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'caasco-icons';
  src: url("/~/media/css/Fonts/caasco-icons-eot.eot");
  src: url("/~/media/css/Fonts/caasco-icons-eot.eot?#iefix") format("embedded-opentype"), url("/~/media/css/Fonts/caasco-icons-ttf.ttf") format("truetype"), url("/~/media/css/Fonts/caasco-icons-woff.woff") format("woff"), url("/~/media/css/Fonts/caasco-icons-svg.svg?#caasco-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'caasco-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e93b";
}

.icon-boat:before {
  content: "\e93d";
}

.icon-life-health:before {
  content: "\e93a";
}

.icon-offer:before {
  content: "\e939";
}

.icon-renewal:before {
  content: "\e938";
}

.icon-shield-check:before {
  content: "\e937";
}

.icon-car-add:before {
  content: "\e936";
}

.icon-user-add:before {
  content: "\e935";
}

.icon-female:before {
  content: "\e933";
}

.icon-male:before {
  content: "\e934";
}

.icon-bills:before {
  content: "\e92e";
}

.icon-car-care:before {
  content: "\e92f";
}

.icon-car-signal:before {
  content: "\e930";
}

.icon-graph:before {
  content: "\e931";
}

.icon-recycle:before {
  content: "\e932";
}

.icon-info-triangle:before {
  content: "\e929";
}

.icon-length:before {
  content: "\e92a";
}

.icon-levels:before {
  content: "\e92b";
}

.icon-points:before {
  content: "\e92c";
}

.icon-road-conditions:before {
  content: "\e92d";
}

.icon-accomodation:before {
  content: "\e927";
}

.icon-icon-tickets:before {
  content: "\e928";
}

.icon-reset:before {
  content: "\e926";
}

.icon-presentation-board:before {
  content: "\e923";
}

.icon-example-tag:before {
  content: "\e924";
}

.icon-price-high-low:before {
  content: "\e925";
}

.icon-pdf:before {
  content: "\e922";
}

.icon-direction:before {
  content: "\e920";
}

.icon-phone-home:before {
  content: "\e921";
}

.icon-clock:before {
  content: "\e91f";
}

.icon-trash:before {
  content: "\e91d";
}

.icon-ribbon:before {
  content: "\e91e";
}

.icon-phone:before {
  content: "\e91c";
}

.icon-multitrip:before {
  content: "\e91b";
}

.icon-circle-login:before {
  content: "\e91a";
}

.icon-battery:before {
  content: "\e912";
}

.icon-bike:before {
  content: "\e913";
}

.icon-emergency-light:before {
  content: "\e914";
}

.icon-fuel:before {
  content: "\e915";
}

.icon-lamp:before {
  content: "\e916";
}

.icon-padlock:before {
  content: "\e917";
}

.icon-rv:before {
  content: "\e918";
}

.icon-wheel:before {
  content: "\e919";
}

.icon-price-shield:before {
  content: "\e911";
}

.icon-price-tag:before {
  content: "\e910";
}

.icon-birthday-cake:before {
  content: "\e90f";
}

.icon-check-regular:before {
  content: "\e90e";
}

.icon-clock-time:before {
  content: "\e90d";
}

.icon-gift-box:before {
  content: "\e90c";
}

.icon-shield:before {
  content: "\e90b";
}

.icon-travel-globe:before {
  content: "\e90a";
}

.icon-arrow-left:before {
  content: "\e904";
}

.icon-caasco-like:before {
  content: "\e905";
}

.icon-light-arrow-down:before {
  content: "\e906";
}

.icon-light-arrow-left:before {
  content: "\e907";
}

.icon-light-arrow-right:before {
  content: "\e908";
}

.icon-light-arrow-up:before {
  content: "\e909";
}

.icon-close-mobile:before {
  content: "\e903";
}

.icon-eye-hidden:before {
  content: "\e902";
}

.icon-eye:before {
  content: "\e900";
}

.icon-share:before {
  content: "\e901";
}

.icon-circle-logout:before {
  content: "\e82f";
}

.icon-back-arrow:before {
  content: "\e828";
}

.icon-facebook-circle:before {
  content: "\e829";
}

.icon-gplus-circle:before {
  content: "\e82a";
}

.icon-linkedin-circle:before {
  content: "\e82b";
}

.icon-menu:before {
  content: "\e82c";
}

.icon-twitter-circle:before {
  content: "\e82d";
}

.icon-youtube-circle:before {
  content: "\e82e";
}

.icon-blog-circle:before {
  content: "\e822";
}

.icon-join-circle:before {
  content: "\e823";
}

.icon-location-circle:before {
  content: "\e824";
}

.icon-magazine-circle:before {
  content: "\e825";
}

.icon-roadside:before {
  content: "\e826";
}

.icon-user-circle:before {
  content: "\e827";
}

.icon-best-offer-tag:before {
  content: "\e800";
}

.icon-couple:before {
  content: "\e801";
}

.icon-departure:before {
  content: "\e802";
}

.icon-edit:before {
  content: "\e803";
}

.icon-family:before {
  content: "\e804";
}

.icon-flight:before {
  content: "\e805";
}

.icon-globe:before {
  content: "\e806";
}

.icon-info-filled:before {
  content: "\e807";
}

.icon-arrow-down:before {
  content: "\e808";
}

.icon-arrow-right:before {
  content: "\e809";
}

.icon-arrow-up:before {
  content: "\e80a";
}

.icon-baggage:before {
  content: "\e80b";
}

.icon-caa-card:before {
  content: "\e80c";
}

.icon-calendar:before {
  content: "\e80d";
}

.icon-car:before {
  content: "\e80e";
}

.icon-check:before {
  content: "\e80f";
}

.icon-check-filled:before {
  content: "\e810";
}

.icon-close:before {
  content: "\e811";
}

.icon-info:before {
  content: "\e812";
}

.icon-interruption:before {
  content: "\e813";
}

.icon-location:before {
  content: "\e814";
}

.icon-maple:before {
  content: "\e815";
}

.icon-medical-doctor:before {
  content: "\e816";
}

.icon-payment:before {
  content: "\e817";
}

.icon-rent-sign:before {
  content: "\e818";
}

.icon-sign-minus:before {
  content: "\e819";
}

.icon-sign-plus:before {
  content: "\e81a";
}

.icon-trillium:before {
  content: "\e81b";
}

.icon-upgrade:before {
  content: "\e81c";
}

.icon-user-check:before {
  content: "\e81d";
}

.icon-user:before {
  content: "\e81e";
}

.icon-building:before {
  content: "\e81f";
}

.icon-home:before {
  content: "\e820";
}

.icon-search-left:before {
  content: "\e821";
}

/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Use border box on all elements
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Zero out margin and padding on most elements as base style
 */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section,
figure {
  display: block;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/
/**
 * Fade Animation
 */
.animate-fade {
  -webkit-transition: opacity, 0.3s, ease-out;
  -moz-transition: opacity, 0.3s, ease-out;
  -ms-transition: opacity, 0.3s, ease-out;
  -o-transition: opacity, 0.3s, ease-out;
  transition: opacity, 0.3s, ease-out;
}
.animate-fade:hover {
  opacity: 0;
}

/**
 * Slidedown animation
 */
@keyframes slideDown {
  0% {
    max-height: 0;
    padding: 0;
  }
  100% {
    padding: 1rem;
    max-height: 12em;
  }
}
/**
 * Slidedown animation
 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*------------------------------------*\
    #BODY
\*------------------------------------*/
/**
 * Body base styles
 */
body {
  color: #333;
  font: 16px/100% "Neue Helvetica W01", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  line-height: 140%;
  display: flex;
  flex-direction: column;
}

/*------------------------------------*\
    #FORMS
\*------------------------------------*/
form ul li {
  list-style-type: none;
}

/**
 * Fieldset base styles
 */
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

/**
 * Label base styles
 */
label {
  display: block;
  padding-bottom: 0.2rem;
}

/**
 * Form button, input, select, and text area base styles
 * 1) Zero out margin and inherit font styles
 */
button, input, select, textarea {
  font-family: inherit;
  font-size: 14px;
  margin: 0;
}

select, .select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  width: 100%;
  border: 1px solid #a5a5a5;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 0 10px;
  color: #4d5056;
}
select.option--text-gray, .select.option--text-gray {
  color: #d9d9d9;
  font-weight: 300;
}
select.option--text-black, .select.option--text-black {
  color: #000;
  font-weight: 300;
}
select + .icon-arrow-down, .select + .icon-arrow-down {
  position: relative;
  top: -29px;
  z-index: 2;
  float: right;
  padding-right: 10px;
  pointer-events: none;
}

/**
 * Input and text area base styles
 * 1) Width entire container, gray border, padding
 */
input, textarea {
  width: 100%;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  min-height: 38px;
  color: #4d5056;
}

input {
  height: 40px;
}

/**
 * Input areas base styles
 * 1) Get rid of webkit appearance of these areas
 */
input[type=text], input[type=search], input[type=url], input[type=number], textarea {
  -webkit-appearance: none;
}
input[type=text]:focus, input[type=text].input--focus-border, input[type=search]:focus, input[type=search].input--focus-border, input[type=url]:focus, input[type=url].input--focus-border, input[type=number]:focus, input[type=number].input--focus-border, textarea:focus, textarea.input--focus-border {
  border: 1px solid #1d60c9;
}

.input--focus-label {
  color: #1d60c9;
}

/**
 * Checkboxes/Radio button base styles
 */
/*! Radio Button and Checkbox */
/* hide radio and checkbox .org-form input */
input[type="radio"] + label, input[type="checkbox"] + label {
  width: auto;
  position: relative;
  top: 0;
}

/*! Radio */
.inputRadioCheckbox, input[type="radio"]:empty, input[type="checkbox"] {
  border: 0;
  position: absolute;
  opacity: 0;
  z-index: 3;
}

input[type="radio"] {
  /* toggle on */
}
input[type="radio"]:empty {
  /* style span */
}
input[type="radio"]:empty + span {
  position: relative;
  margin-right: 20px;
  display: block;
  height: 19px;
  width: auto;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input[type="radio"]:empty + span:before {
  position: absolute;
  top: 3px;
  bottom: 0;
  left: 3px;
  content: '';
  height: 6px;
  width: 6px;
  border-radius: 50%;
  z-index: 2;
}
input[type="radio"]:empty + span:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  vertical-align: middle;
  height: 10px;
  width: 10px;
  background: #f7f9f9;
  border: 1px solid #a5a5a5;
  border-radius: 50%;
  z-index: 1;
}
input[type="radio"]:empty + span + label {
  display: block;
  vertical-align: middle;
  margin-right: 20px;
}
input[type="radio"]:checked + span:before {
  background-color: #1d60c9;
}
input[type="radio"]:checked:empty + span:after {
  background: #fff;
}

/*! Checkbox */
input[type="checkbox"] {
  width: 38px;
  display: inline-block;
  /* toggle on */
}
input[type="checkbox"]:empty {
  /* style span */
}
input[type="checkbox"]:empty + span {
  position: relative;
  margin-right: 10px;
  display: inline-block;
  height: 38px;
  width: 38px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media only screen and (min-width: 768px) {
  input[type="checkbox"]:empty + span {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 1000px) {
  input[type="checkbox"]:empty + span {
    float: left;
  }
}
input[type="checkbox"]:empty + span:before {
  position: absolute;
  top: 12px;
  bottom: 0;
  left: 12px;
  height: 15px;
  width: 15px;
  z-index: 2;
  content: '';
  background-color: #ccc;
}
input[type="checkbox"]:empty + span:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  vertical-align: middle;
  height: 38px;
  width: 38px;
  border: 1px solid #a5a5a5;
  border-radius: 3px;
  background-color: #fff;
  z-index: 1;
}
input[type="checkbox"]:empty + span + label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
@media only screen and (max-width: 1000px) {
  input[type="checkbox"]:empty + span + label {
    padding-bottom: 15px;
    float: left;
    width: 75%;
  }
}
input[type="checkbox"]:checked + span:before {
  top: 9.2px;
  left: 9px;
  font-size: 22px;
  font-weight: 600;
  background-color: #00308f;
  color: #fff;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'caasco-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e90e';
}
input[type="checkbox"]:checked:empty + span:after {
  background: #00308f;
}

/**
 * Search cancel button and search decoration webkit appearance none
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.field--small {
  max-width: 145px;
}

/*------------------------------------*\
    #GLOBAL CLASSES
\*------------------------------------*/
.cf {
  *zoom: 1;
}

.cf:before, .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

@media all and (max-width: 768px) {
  .hide-small {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width: 1000px) {
  .hide-med {
    display: none;
  }
}

@media all and (min-width: 1000px) {
  .hide-large {
    display: none;
  }
}

.valid {
  color: #03804d;
}

.error {
  color: #d02813;
}

.warning {
  color: #a59b15;
}

.information {
  color: #0192d0;
}

.align--middle-vertical {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.align--center-horizontal {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.bg--secondary-blue {
  background-color: #1d60c9;
}

.bg--green {
  background-color: #65b32b;
}

.bg--white {
  background-color: #fff;
}

.bg--gray-2 {
  background-color: #f7f9f9;
}

/*------------------------------------*\
    #LINKS
\*------------------------------------*/
/**
 * Links
 */
a {
  text-decoration: none;
  outline: 0;
  color: #000;
}

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
.headings, h1, h2, h3 {
  color: #000;
  line-height: 100%;
  margin-bottom: 16px;
}

/**
 * Heading 1
 */
h1 {
  font-size: 26px;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
  }
}

/**
 * Heading 2
 */
h2 {
  font-size: 18px;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 24px;
  }
}

/**
 * Heading 3
 */
h3 {
  font-size: 18px;
  font-weight: 700;
}

/*------------------------------------*\
    #TEXT
\*------------------------------------*/
/**
 * Paragraph base styles
 */
.content p {
  margin-bottom: 20px;
}

small, .text-small {
  font-size: 14px;
}

.text-micro {
  font-size: 12px;
  font-weight: 600;
  color: #020c27;
}

/**
 * Blockquote base styles
 */
blockquote {
  font-style: italic;
  border-left: 1px solid #808080;
  color: #808080;
  margin-bottom: 50px;
}

/**
 * Horizontal rule base styles
 */
hr {
  border: 0;
  height: 1px;
  background: #4d5056;
}

/**
 * Abbreviation base styles
 */
abbr {
  border-bottom: 1px dotted #808080;
  cursor: help;
}

/*------------------------------------*\
    #Utilities
\*------------------------------------*/
@media only screen and (min-width: 768px) {
  .h2--size-h1 {
    font-size: 32px;
    margin-bottom: 15px;
  }
}

.cta__container--center-btn {
  text-align: center;
}

.copy--middle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.pad__section--top {
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .pad__section--top {
    margin-top: 50px;
  }
}

.overflow-y--hidden {
  overflow-y: hidden;
}

.mobile--hide {
  display: block;
}
@media only screen and (max-width: 767px) {
  .mobile--hide {
    display: none;
  }
}

.desktop--hide {
  display: block;
}
@media only screen and (min-width: 768px) {
  .desktop--hide {
    display: none;
  }
}

.checkmark__list-group {
  position: relative;
  text-align: left;
  padding-left: 30px;
}
.checkmark__list-group li {
  list-style-type: none;
  line-height: 140%;
}
.checkmark__list-group li:before {
  font-family: 'caasco-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e90e';
  position: absolute;
  left: 0;
  margin-top: 5px;
  color: #65b32b;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body {
    overflow: auto;
    height: 100%;
  }
}
/* load bootstrap grid */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}
.container-fluid:after {
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-2 {
  right: 16.66667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.33333%;
}

.col-xs-pull-5 {
  right: 41.66667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.33333%;
}

.col-xs-pull-8 {
  right: 66.66667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.33333%;
}

.col-xs-pull-11 {
  right: 91.66667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-2 {
  left: 16.66667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.33333%;
}

.col-xs-push-5 {
  left: 41.66667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.33333%;
}

.col-xs-push-8 {
  left: 66.66667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.33333%;
}

.col-xs-push-11 {
  left: 91.66667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-1 {
    width: 8.33333%;
  }

  .col-sm-2 {
    width: 16.66667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-8 {
    width: 66.66667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333%;
  }

  .col-sm-11 {
    width: 91.66667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-pull-1 {
    right: 8.33333%;
  }

  .col-sm-pull-2 {
    right: 16.66667%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-4 {
    right: 33.33333%;
  }

  .col-sm-pull-5 {
    right: 41.66667%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-7 {
    right: 58.33333%;
  }

  .col-sm-pull-8 {
    right: 66.66667%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-10 {
    right: 83.33333%;
  }

  .col-sm-pull-11 {
    right: 91.66667%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-push-1 {
    left: 8.33333%;
  }

  .col-sm-push-2 {
    left: 16.66667%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-4 {
    left: 33.33333%;
  }

  .col-sm-push-5 {
    left: 41.66667%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-7 {
    left: 58.33333%;
  }

  .col-sm-push-8 {
    left: 66.66667%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-10 {
    left: 83.33333%;
  }

  .col-sm-push-11 {
    left: 91.66667%;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-pull-1 {
    right: 8.33333%;
  }

  .col-md-pull-2 {
    right: 16.66667%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-4 {
    right: 33.33333%;
  }

  .col-md-pull-5 {
    right: 41.66667%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-7 {
    right: 58.33333%;
  }

  .col-md-pull-8 {
    right: 66.66667%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-10 {
    right: 83.33333%;
  }

  .col-md-pull-11 {
    right: 91.66667%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-push-1 {
    left: 8.33333%;
  }

  .col-md-push-2 {
    left: 16.66667%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-4 {
    left: 33.33333%;
  }

  .col-md-push-5 {
    left: 41.66667%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-7 {
    left: 58.33333%;
  }

  .col-md-push-8 {
    left: 66.66667%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-10 {
    left: 83.33333%;
  }

  .col-md-push-11 {
    left: 91.66667%;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-1 {
    width: 8.33333%;
  }

  .col-lg-2 {
    width: 16.66667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333%;
  }

  .col-lg-5 {
    width: 41.66667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-8 {
    width: 66.66667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333%;
  }

  .col-lg-11 {
    width: 91.66667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-pull-1 {
    right: 8.33333%;
  }

  .col-lg-pull-2 {
    right: 16.66667%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-4 {
    right: 33.33333%;
  }

  .col-lg-pull-5 {
    right: 41.66667%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-7 {
    right: 58.33333%;
  }

  .col-lg-pull-8 {
    right: 66.66667%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-10 {
    right: 83.33333%;
  }

  .col-lg-pull-11 {
    right: 91.66667%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-push-1 {
    left: 8.33333%;
  }

  .col-lg-push-2 {
    left: 16.66667%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-4 {
    left: 33.33333%;
  }

  .col-lg-push-5 {
    left: 41.66667%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-7 {
    left: 58.33333%;
  }

  .col-lg-push-8 {
    left: 66.66667%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-10 {
    left: 83.33333%;
  }

  .col-lg-push-11 {
    left: 91.66667%;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/**
 * Button
 */
.c__btn-shared, button, .c__btn, .c__btn-ghost {
  display: inline-block;
  background: #65b32b;
  color: #fff;
  line-height: 1;
  font-weight: 600;
  padding: 15px 30px;
  border: 0;
  border-radius: 28px;
  text-align: center;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.c__btn-shared--before, button:before, .c__btn:before {
  background-color: rgba(0, 0, 0, 0.12);
  content: '';
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: height 0.25s ease-out;
  -moz-transition: height 0.25s ease-out;
  -ms-transition: height 0.25s ease-out;
  -o-transition: height 0.25s ease-out;
  transition: height 0.25s ease-out;
}

button, .c__btn {
  -webkit-transition: height 0.3s ease-in;
  -moz-transition: height 0.3s ease-in;
  -ms-transition: height 0.3s ease-in;
  -o-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in;
  /**
   * Disabled button
   */
}
button span, .c__btn span {
  position: relative;
}
button.hover:hover span, .c__btn.hover:hover span {
  color: #fff;
}
button.hover:hover:before, button:focus:before, .c__btn.hover:hover:before, .c__btn:focus:before {
  display: relative;
  height: 100%;
}
button.disabled, .c__btn.disabled {
  background: #d9d9d9;
  color: #808080;
}

.c__btn-ghost {
  background-color: inherit;
  border: 1px solid #fff;
  color: #fff;
}
.c__btn-ghost.hover:hover {
  background-color: #65b32b;
  border: 1px solid #65b32b;
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.c__btn-ghost--green {
  border: 1px solid #65b32b;
  color: #65b32b;
}

.c__btn-ghost--green.hover:hover {
  color: #fff;
  text-decoration: none;
}

.c__btn-ghost--white {
  border: 1px solid #fff;
  color: #fff;
}

.c__btn-ghost--white.hover:hover {
  color: #fff;
  text-decoration: none;
}

/**
 * Button on overlay
 */
.c__btn--overlay {
  background: #a5a5a5;
}

/*------------------------------------*\
    #header
\*------------------------------------*/
.c-header-top {
  text-align: center;
  height: 10px;
  background: #00308f;
  z-index: 1000;
  padding: 0 15px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .c-header-top {
    height: 40px;
  }
}

.c-header-bottom {
  position: relative;
  text-align: center;
  height: 85px;
  z-index: 1000;
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
}
@media only screen and (min-width: 768px) {
  .c-header-bottom {
    overflow: hidden;
    background: #fff;
    height: 89px;
    border-bottom: 0;
  }
}

.c-header-nav {
  position: absolute;
  height: 100vh;
  width: 300px;
  z-index: 10;
  left: 0;
  top: 85px;
  padding: 0;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .c-header-nav {
    position: relative;
    display: block;
    text-align: left;
    margin-top: 40px;
  }
}
.c-header-nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.c-header-nav ul li {
  position: relative;
  height: 60px;
}
.c-header-nav a {
  display: block;
  height: 56px;
}
.c-header-nav .align--middle-vertical {
  width: 100%;
}
.c-header-nav .align-right {
  float: right;
  font-size: 20px;
}
.c-header-nav .c-header-nav--list-btm-border li {
  border-bottom: 1px solid #a5a5a5;
}
.c-header-nav .c-header-nav--list-btm-border li:last-child {
  border-bottom: 0;
}
.c-header-nav .col-xs-4 {
  position: relative;
}
.c-header-nav .col-xs-4:nth-child(1) {
  width: 20%;
}
.c-header-nav .col-xs-4:nth-child(2) {
  width: 70%;
}
.c-header-nav .col-xs-4:nth-child(3) {
  width: 10%;
}

.c-header-nav--position-force {
  position: inherit;
}
@media only screen and (min-width: 768px) {
  .c-header-nav--position-force {
    position: relative;
  }
}

.c-header-nav--highlight {
  height: 60px;
  padding: 0;
  color: #fff;
}
.c-header-nav--highlight i:first-child {
  font-size: 24px;
}
.c-header-nav--highlight .align--middle-vertical a {
  color: #fff;
}

.c-header-nav--bold-text {
  font-weight: 600;
}
.c-header-nav--bold-text li a {
  color: #020c27;
}

/*------------------------------------*\
    #logo
\*------------------------------------*/
.c-caa__logo {
  background: transparent url("../img/caa-logo.png") top left no-repeat;
  width: 57px;
  height: 38px;
  background-size: 100%;
  display: inline-block;
  text-indent: -5000px;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
@media only screen and (min-width: 768px) {
  .c-caa__logo {
    width: 87px;
    height: 61px;
  }
}

/*------------------------------------*\
    #MESSAGING
\*------------------------------------*/
/**
 * Alert
 */
.alert {
  text-align: center;
  overflow: hidden;
  font-size: 1em;
  display: flex;
  flex-direction: row;
}
.alert a {
  color: inherit;
  text-decoration: underline;
}

.ng-pristine.ng-valid {
  color: #4d5056;
}

/**
 * Error alert
 */
.alert--error {
  color: #d02813;
}

.alert--error-border, .ng-touched.ng-invalid {
  border: 1px solid #d02813;
}

/**
 * Success alert

 .ng-valid
 */
.alert--success {
  color: #03804d;
}

/**
 * Warning alert
 */
.alert--warning {
  color: #a59b15;
}

/**
 * Info alert
 */
.alert--info {
  color: #0192d0;
}

/**
 * Overlay
 */
.c-overlay {
  display: block;
  padding: 1em;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
  text-align: center;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.c-overlay--is-hidden {
  display: none;
}
.c-tile-grid__primary .c-overlay {
  position: absolute;
}
.c-tile-list__item .c-overlay {
  position: absolute;
}
.c-section .c-overlay {
  position: absolute;
}

/**
* Overlay Intro
*/
.c-overlay__intro {
  font-size: 1.5rem;
  color: #fff;
}

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/**
 * Layout container
 */
.l-container, .l-wrapper, .wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}
.l-container.l-container--margin-btm, .l-wrapper.l-container--margin-btm, .wrapper.l-container--margin-btm {
  margin-bottom: 100px;
}
@media only screen and (min-width: 1000px) {
  .l-container, .l-wrapper, .wrapper {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .l-section {
    margin-bottom: 40px;
  }
}
.l-section:nth-child(0) {
  margin-top: 50px;
}

.header-navigation {
  position: fixed;
  width: 100%;
  min-width: 320px;
  z-index: 100;
}

.school-zone__header {
  position: relative;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  height: auto;
  background-color: #e5c83e;
  height: 55px;
}
@media only screen and (max-width: 320px) {
  .school-zone__header {
    max-width: 320px;
  }
}
@media only screen and (min-width: 768px) {
  .school-zone__header {
    background-color: #1d60c9;
    height: 110px;
  }
}
.school-zone__header h2 {
  color: #000;
}
@media only screen and (min-width: 768px) {
  .school-zone__header h2 {
    color: #fff;
  }
}
.school-zone__header-column {
  display: inline-block;
}
.school-zone__header-column--logo {
  width: 97px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 1px;
}
@media only screen and (min-width: 768px) {
  .school-zone__header-column--logo {
    margin-top: 3px;
  }
}
.school-zone__header-column--title {
  width: 160px;
  margin-left: 73px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (min-width: 768px) {
  .school-zone__header-column--title {
    width: 230px;
    margin-left: 107px;
  }
}
.school-zone__header-column--title h2 {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 130%;
}
@media only screen and (min-width: 768px) {
  .school-zone__header-column--title h2 {
    font-size: 23px;
    line-height: 134%;
  }
}
.school-zone__header-column--mobile-menu {
  float: right;
}
@media only screen and (max-width: 768px) {
  .school-zone__header-column--mobile-menu .icon-menu, .school-zone__header-column--mobile-menu .icon-close-mobile {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .school-zone__header-column--mobile-menu {
    display: none;
  }
}

.navigation {
  background-color: #e5c83e;
  color: #000;
  height: 0;
  width: 100%;
  opacity: 0;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .navigation {
    position: absolute;
    z-index: 100;
  }
}
@media only screen and (min-width: 768px) {
  .navigation {
    height: 50px;
    opacity: 1;
  }
}
.navigation__column {
  position: relative;
  width: 50%;
  float: left;
}
.navigation__column:first-child {
  float: right;
}
.navigation ul li {
  height: 50px;
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .navigation ul li {
    float: left;
  }
}
.navigation ul li span {
  vertical-align: middle;
}
.navigation ul li a {
  display: block;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .navigation ul li a {
    color: #000;
  }
}
.navigation-main li {
  border-left: 1px solid #000;
}
.navigation-main li:last-child {
  border-right: 1px solid #000;
}
.navigation-main li a {
  overflow: hidden;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .navigation-main li a {
    height: 50px;
    padding-top: 13px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
  }
}
.navigation-main li a:before {
  position: absolute;
  width: 0px;
  height: 100%;
  left: 0px;
  top: 0px;
  content: '';
  background: #c8a702;
  opacity: 0.3;
  transition: all 0.3s;
}
.navigation-main li a:hover:before {
  width: 100%;
}
.navigation-main li span {
  z-index: 100;
  position: relative;
}
.navigation-info ul {
  float: right;
}
@media only screen and (min-width: 768px) {
  .navigation-info ul li {
    font-weight: 700;
    font-size: 14px;
    padding-top: 13px;
  }
}
.navigation-info ul li:first-child {
  margin-right: 15px;
}
@media only screen and (min-width: 768px) {
  .navigation-info ul li:first-child {
    margin-right: 35px;
  }
}
.navigation-info ul li a:hover {
  color: #c8a702;
}
.navigation-info ul li a:hover > .st0 {
  fill: #c8a702;
}
.navigation-info ul li .st0, .navigation-info ul li span {
  display: inline-block;
}
.navigation-info ul li .nav__icon {
  margin-right: 8px;
  vertical-align: top;
}
.navigation-info ul li .st0 {
  fill: #000;
}
@media only screen and (max-width: 768px) {
  .navigation__column {
    float: none;
    width: 100%;
  }
  .navigation__column:first-child {
    float: none;
  }
  .navigation.navigation-modal {
    background-color: #e5c83e;
    top: 55px;
    opacity: 1;
    height: 50px;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    color: #000;
    min-width: 320px;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    /* now the element will fade out before it is removed from the DOM */
  }
  .navigation.navigation-modal .l-wrapper {
    padding: 0;
  }
  .navigation.navigation-modal .navigation-info {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .navigation.navigation-modal .navigation-info ul {
    float: none;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .navigation.navigation-modal .navigation-info ul li {
    height: 30px;
    margin-top: 7px;
    font-size: 12px;
    font-weight: 700;
  }
  .navigation.navigation-modal .navigation-info ul li .st0 {
    margin-right: 8px;
    fill: #000;
  }
  .navigation.navigation-modal .navigation-main ul {
    margin-top: 15px;
  }
  .navigation.navigation-modal .navigation-main ul li {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    border-left: none;
    font-size: 24px;
  }
  .navigation.navigation-modal .navigation-main ul li a {
    padding: 0 15px;
    position: relative;
  }
  .navigation.navigation-modal .navigation-main ul li a span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .navigation.navigation-modal .navigation-main ul li:last-child {
    border-right: none;
  }
}

.navigation.navigation-v2 {
  overflow: visible;
}
@media only screen and (max-width: 765px) {
  .navigation.navigation-v2 {
    display: none;
    height: 0;
  }
  .navigation.navigation-v2.navigation-modal {
    display: block;
    height: 100%;
  }
}
.navigation.navigation-v2 .l-wrapper {
  position: relative;
  z-index: 1001;
}
@media only screen and (min-width: 768px) {
  .navigation.navigation-v2 .navigation-info {
    position: absolute;
    right: 0;
    top: -77px;
    z-index: 150;
    color: #fff;
  }
  .navigation.navigation-v2 .navigation-info .st0 {
    fill: #fff;
  }
}
.navigation.navigation-v2 .navigation-main li {
  float: left;
}
@media only screen and (min-width: 768px) {
  .navigation.navigation-v2 .navigation-main li {
    width: calc(75%/4);
  }
  .navigation.navigation-v2 .navigation-main li:nth-child(4) {
    width: 25%;
  }
  .navigation.navigation-v2 .navigation-main li a {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}

.hero-section {
  background-image: url(../img/hero--mobile.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 320px;
  color: #fff;
}
.hero-section h1, .hero-section h2 {
  color: #fff;
  line-height: 120%;
  font-weight: 300;
}
@media only screen and (min-width: 768px) {
  .hero-section {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    height: 410px;
  }
}
@media only screen and (min-width: 1466px) {
  .hero-section {
    background-size: 100% 430px;
  }
}
.hero__copy--position {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
.hero__copy--center {
  position: relative;
  height: 320px;
}
@media only screen and (min-width: 1000px) {
  .hero__copy--center {
    height: 410px;
  }
}
.hero__copy p {
  max-width: 480px;
  margin: 0 auto;
  font-size: 18px;
}

.countdown__container {
  margin-top: 20px;
  margin-bottom: 30px;
  opacity: 0;
}
@media only screen and (min-width: 768px) {
  .countdown__container {
    margin-top: 50px;
  }
}
.countdown__container.fadeIn {
  animation-delay: 0.9s;
}
.countdown__item {
  display: inline-block;
  text-align: center;
  width: 60px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
@media only screen and (min-width: 768px) {
  .countdown__item {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5px;
    width: 90px;
  }
}
.countdown__item:last-child {
  margin-right: 0;
}
.countdown__number {
  font-size: 18px;
  color: #e5c83e;
  font-weight: 300;
}
@media only screen and (min-width: 768px) {
  .countdown__number {
    font-size: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .countdown__copy {
    font-size: 12px;
    margin-top: -2px;
  }
}
@media only screen and (min-width: 768px) {
  .countdown__copy {
    font-size: 14px;
    font-weight: 300;
  }
}

.c__btn-shared, button, .c__btn, .c__btn-ghost {
  background: #1d60c9;
}

.c__btn-ghost {
  background-color: inherit;
}
.content .c__btn-ghost.hover:hover {
  background-color: #1d60c9;
  border: 2px solid #1d60c9;
  color: #fff;
  text-decoration: none;
}
.content .c__btn-ghost.c__btn-ghost--white.hover:hover {
  background-color: #1d60c9;
  border: 1px solid #1d60c9;
  color: #fff;
  text-decoration: none;
}

.c__btn-ghost--green {
  border: 2px solid #1d60c9;
  color: #1d60c9;
}

.c__btn-ghost--green.hover:hover {
  color: #fff;
  text-decoration: none;
}

.mobile-menu__button {
  position: relative;
  width: 35px;
  height: 35px;
  top: 10px;
  left: 0;
  transition-duration: 0.2s;
}
.mobile-menu__button .icon-left {
  transition-duration: 0.2s;
  position: absolute;
  height: 3px;
  width: 15px;
  top: 15px;
  background-color: #212121;
  left: 0px;
}
.mobile-menu__button .icon-left:before {
  transition-duration: 0.2s;
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: #212121;
  content: "";
  top: -10px;
}
.mobile-menu__button .icon-left:after {
  transition-duration: 0.2s;
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: #212121;
  content: "";
  top: 10px;
}
.mobile-menu__button .icon-left:hover {
  cursor: pointer;
}
.mobile-menu__button .icon-right {
  transition-duration: 0.2s;
  position: absolute;
  height: 3px;
  width: 15px;
  top: 15px;
  background-color: #212121;
  left: 15px;
}
.mobile-menu__button .icon-right:before {
  transition-duration: 0.2s;
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: #212121;
  content: "";
  top: -10px;
}
.mobile-menu__button .icon-right:after {
  transition-duration: 0.2s;
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: #212121;
  content: "";
  top: 10px;
}
.mobile-menu__button.open .icon-left {
  transition-duration: 0.2s;
  background: transparent;
}
.mobile-menu__button.open .icon-left:before {
  transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
}
.mobile-menu__button.open .icon-left:after {
  transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
}
.mobile-menu__button.open .icon-right {
  transition-duration: 0.2s;
  background: transparent;
}
.mobile-menu__button.open .icon-right:before {
  transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
}
.mobile-menu__button.open .icon-right:after {
  transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
}
.mobile-menu__button:hover {
  cursor: pointer;
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}
.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  20% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
  }
  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    opacity: 1;
  }
}
.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  animation-name: bounceIn;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}
.flicker {
  animation-name: flicker;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(10, 0.2, 1, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -10px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.bounceInUp {
  animation-name: bounceInUp;
  animation-fill-mode: forwards;
}

@keyframes fadeUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(10, 0.2, 1, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.fadeUp {
  animation-name: fadeUp;
  animation-fill-mode: forwards;
}

.fade.ng-animate {
  transition: 0.5s linear all;
  position: absolute;
  z-index: 100;
}

.fade.ng-enter {
  opacity: 0;
}

.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  opacity: 1;
}

.fade.ng-leave.ng-leave-active {
  opacity: 0;
}

.directions-drop-down__container {
  height: 40px;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 30px;
}
.directions-drop-down__container a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.directions-drop-down__container a:hover, .directions-drop-down__container a:link {
  text-decoration: none !important;
}
.directions-drop-down__label {
  color: #fff;
  text-align: left;
}
.directions-drop-down__label-copy {
  font-size: 15px;
  font-weight: 300;
  color: #000;
  text-decoration: none;
}
.directions-drop-down__default-option {
  display: none;
}
.directions-drop-down__default-option.active {
  display: block;
}
.directions-drop-down__options {
  position: relative;
  z-index: 50;
  border: 1px solid #d9d9d9;
}
.directions-drop-down__options.ng-hide-add {
  transform: scaleY(1);
  transform-origin: top;
  transition: all 0.3s ease-in-out;
}
.directions-drop-down__options.ng-hide-add.ng-hide-add-active {
  transform: scaleY(0);
}
.directions-drop-down__options.ng-hide-remove {
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.3s ease;
}
.directions-drop-down__options.ng-hide-remove.ng-hide-remove-active {
  transform: scaleY(1);
}
.directions-drop-down__options .active {
  display: none;
}
.directions-drop-down__options .directions-drop-down__item {
  background-color: #fff;
}
.directions-drop-down__options .directions-drop-down__item:hover {
  background-color: #1d60c9;
}
.directions-drop-down__options .directions-drop-down__item:hover .directions-drop-down__label-copy {
  color: #fff;
}
.directions-drop-down__item {
  height: 45px;
  display: block;
  cursor: pointer;
  padding: 8px 10px;
}
@media only screen and (min-width: 768px) {
  .directions-drop-down__item {
    height: 22px;
  }
}
.directions-drop-down__item .icon-arrow-down {
  color: #000;
  position: relative;
  float: right;
  top: -17px;
}

.dropdown {
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.dropdown .button {
  padding-right: 28px;
  margin: 0;
  position: relative;
  z-index: 2;
}

.dropdown .button:after {
  content: '';
  background: url(images/dropdown-icon.png) 0;
  width: 8px;
  height: 6px;
  display: block;
  position: absolute;
  right: 12px;
  top: 13px;
}

.dropdown .button[disabled]:after,
.dropdown .button.disabled:after {
  background-position: -8px;
}

.dropdown ul {
  background: #ffffff;
  padding: 4px 0;
  border: 1px solid #bec0c1;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 33px;
  display: none;
  list-style: none;
}

.dropdown ul li {
  list-style: none;
}

.dropdown ul li:hover {
  background: #009eca;
}

.dropdown ul li a {
  height: 30px;
  padding: 0 40px 0 10px;
  display: block;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #3d4447;
  white-space: nowrap;
}

.dropdown ul li a:hover {
  color: #ffffff;
}

.dropdown.dropdown-right ul {
  right: 0;
  left: auto;
}

.dropdown.dropdown-active ul {
  display: block;
}

.content {
  margin-top: 55px;
}
@media only screen and (min-width: 768px) {
  .content {
    margin-top: 160px;
  }
}
@media only screen and (min-width: 768px) {
  .content h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .content p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .content p:last-child {
    margin-bottom: 0;
  }
}
.content a:link {
  color: #1d60c9;
  font-weight: 700;
}
.content a:hover {
  text-decoration: underline;
}
.content a:visited {
  color: #1d60c9;
}
.content ul {
  margin-left: 18px;
}
.content ul.checkmark__list-group {
  margin-left: 0;
}
.content ul li {
  margin-bottom: 10px;
}
.content .l-section:first-child {
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .content .l-section:first-child {
    margin-top: 50px;
  }
}

.regpak-wrapper {
  max-width: 1025px;
  margin: 0 auto;
}

.font-color--green {
  color: #1d60c9;
}

.content-layout__section img {
  width: 100%;
  min-width: 295px;
  min-height: 177px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
@media only screen and (min-width: 768px) {
  .content-layout__section img {
    max-width: 465px;
    height: 275px;
  }
}
.content-layout__section .row {
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .content-layout__section .row {
    margin-bottom: 100px;
  }
  .content-layout__section .row:last-child, .content-layout__section .row.row__margin-bottom--small {
    margin-bottom: 50px;
  }
}
.content-layout__copy {
  position: relative;
  display: block;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .content-layout__copy--middle {
    position: relative;
    transform: translateY(27%);
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-6.content-layout__column--right {
    float: right;
  }
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #3e3f3f;
  color: #fff;
  font-size: 12px;
}
footer a {
  color: #fff;
}
footer p:first-child {
  margin-bottom: 20px;
}

.topic__section {
  position: relative;
  background-color: #298eec;
  color: #fff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../img/topic-section__bg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .topic__section {
    background-image: url(../img/topic-section__bg.jpg);
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
.topic__section h2 {
  color: #fff;
}
.topic__section a, .topic__section a:link, .topic__section a:visited {
  color: #fff;
}
.topic-icon__container {
  display: inline-block;
  position: relative;
  top: -65px;
  height: 0;
  overflow: visible;
  opacity: 0;
}
.topic-icon__container.fadeUp {
  animation-delay: 0.5s;
  animation-duration: 0.7s;
}
.topic-icon__container-circle {
  height: 73px;
  width: 73px;
  background-color: #e5c83e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  padding-top: 9px;
  margin-left: -1px;
}
.topic-icon__container-circle .light-bulb__path-animation {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear 1s;
  -ms-animation: dash 5s linear 1s;
  animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
}
.ie11Down .topic-icon__container-circle .light-bulb__path-animation {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.topic-icon__container-circle .light-bulb-0 {
  fill: none;
  stroke: #010101;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.topic-icon__container-circle .light-bulb-1 {
  fill: none;
  stroke: #010101;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.topic-icon__container-circle .light-bulb__container {
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 19px;
  opacity: 0;
}
.topic-icon__container-circle .light-bulb__light {
  fill: #f3ffbf;
}
.topic__copy {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}
.content .topic-suggestions__section.row {
  margin-bottom: 40px;
}
.topic-themes__section, .topic-criteria__section {
  margin-bottom: 40px;
}
.content .topic-themes__section .row, .content .topic-criteria__section .row {
  margin-bottom: 40px;
}
.topic-themes__section strong {
  display: block;
  margin-bottom: 20px;
}

#light-bulb {
  position: relative;
  left: -2px;
  top: 3px;
}

#light-bulb__light {
  width: 33px;
  height: 42px;
}

.sign-up__section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e8f3fd;
}
@media only screen and (min-width: 768px) {
  .sign-up__section {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
.sign-up__section iframe {
  width: 100%;
}
.sign-up p {
  margin-bottom: 20px;
}
.sign-up .email__alert {
  position: absolute;
  top: 0;
  left: 120px;
}
@media only screen and (max-width: 768px) {
  .sign-up .sign-up__copy {
    text-align: center;
  }
}
.sign-up__address {
  font-size: 12px;
}
.sign-up .l-wrapper {
  margin: 0 auto;
}
@media only screen and (min-width: 640px) {
  .sign-up .l-wrapper {
    width: 500px;
  }
}
@media only screen and (min-width: 960px) {
  .sign-up .l-wrapper {
    width: 960px;
  }
}
.sign-up .cta__container {
  margin: 5px 0 15px;
}
@media only screen and (max-width: 1000px) {
  .sign-up .cta__container {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .sign-up .cta__container {
    margin: 15px 0 25px;
  }
}

@media only screen and (min-width: 1016px) {
  div.remove__margin {
    margin: 0;
  }
}

.field__group {
  position: relative;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1016px) {
  .field__group {
    margin-right: 15px;
    display: inline-block;
  }
  .field__group #first-name, .field__group #last-name {
    width: 248px;
  }
  .field__group #email-address {
    width: 425px;
  }
}

#signup__return-message {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
#signup__return-message .alert--error {
  display: block;
  margin-bottom: 10px;
}
#signup__return-message .subscribed__check-mark {
  display: inline-block;
  width: 45px;
  height: 45px;
}
#signup__return-message .subscribed__copy {
  display: inline-block;
  width: 88%;
  text-align: left;
  padding-left: 2%;
  vertical-align: top;
  font-weight: 700;
  font-size: 18px;
  color: #000;
}
#signup__return-message .st0 {
  fill: #1d60c9;
}

.conference__layout .row {
  margin-bottom: 30px;
}

.directions__section select {
  margin-bottom: 40px;
}
.directions__section select + .icon-arrow-down {
  top: -67px;
}
.directions__map {
  height: 320px;
}
@media only screen and (min-width: 768px) {
  .directions__map {
    height: 366px;
  }
}

.transportation__description strong {
  font-size: 14px;
}
.transportation__description p {
  margin-bottom: 15px;
}
.transportation__tab {
  margin-top: 18px;
  margin-bottom: 38px;
}

a.transportation__tab {
  font-weight: 700;
  padding: 0 15px;
  display: inline-block;
  border-right: 1px solid #4d5056;
}
a.transportation__tab:link {
  color: #1d60c9;
}
a.transportation__tab.active {
  color: #000;
}
a.transportation__tab:first-child {
  padding-left: 0 !important;
}
a.transportation__tab:last-child {
  border-right: 0;
}

.content .sponsorship-description__section.row {
  margin-bottom: 40px;
}
.sponsorship__tab {
  display: inline-block;
  width: calc(100%/3);
  height: 50px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.sponsorship__tab:after {
  position: absolute;
  width: 0px;
  height: 100%;
  left: 0px;
  top: 0px;
  content: '';
  background: #1d60c9;
  opacity: 0.7;
  transition: all 0.3s;
}
.content .sponsorship__tab:link {
  font-weight: 300;
  color: #333;
  text-decoration: none;
}
.sponsorship__tab:link:hover {
  color: #fff;
  font-weight: 700;
}
.sponsorship__tab:hover:after {
  width: 100%;
}
.sponsorship__tab:nth-child(2) {
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.sponsorship__tab span {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: perspective(1px) translate3d(-50%, -50%, 0);
  -ms-transform: perspective(1px) translate3d(-50%, -50%, 0);
  transform: perspective(1px) translate3d(-50%, -50%, 0);
}
.content .sponsorship__tab ul {
  margin-left: 0;
}
.sponsorship__tab-container {
  min-height: 440px;
}
@media only screen and (min-width: 768px) {
  .sponsorship__tab-container {
    min-height: 300px;
  }
}
.content .sponsorship__tab.active {
  color: #fff;
  font-weight: 700;
}
.content .sponsorship__tab.active:after {
  opacity: 1;
  width: 100%;
}
.sponsorship__tab-content {
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .sponsorship__tab-content {
    padding: 50px 50px 0;
  }
}
.sponsorship-cause__section .cta__container {
  margin-top: 43px;
}
@media only screen and (max-width: 768px) {
  .sponsorship-cause__section .cta__container {
    text-align: center;
  }
}
