/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/

/**
 * Fade Animation
 */
.animate-fade {
	@include transition(opacity, 0.3s, ease-out);

	&:hover {
		opacity: 0;
	}
}




/**
 * Slidedown animation
 */
@keyframes slideDown {
  0%   {
    max-height: 0;
    padding: 0;
  }

  100% {
    padding: 1rem;
    max-height: 12em;
  }
}



/**
 * Slidedown animation
 */
@keyframes fadeIn {
  0%   {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
