/*------------------------------------*\
    #BODY
\*------------------------------------*/

/**
 * Body base styles
 */
body {
	//background: $color-white;
	color: $color-text;
	font: 16px/100% $font;
	-webkit-text-size-adjust: 100%;
	// min-height: 100vh;
  min-width: $bp-small;
  line-height: $line-height;
	display: flex;
	flex-direction: column;
}
