/*------------------------------------*\
    #FORMS
\*------------------------------------*/


form {
  ul {
    li {list-style-type: none;}
  }
  //min-width: $bp-small;

}

/**
 * Fieldset base styles
 */
fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

/**
 * Label base styles
 */
label {
	display: block;
	padding-bottom: 0.2rem;
	//font-size: $font-size-small;
}

/**
 * Form button, input, select, and text area base styles
 * 1) Zero out margin and inherit font styles
 */
button, input, select, textarea {
    font-family: inherit;
    font-size: 14px;
    margin: 0;
}

select, .select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  width: 100%;
  border: 1px solid $color-gray-35;
  background-color:$color-white;
  @include border-radius($border-radius);
  padding:0 10px;
  color: $color-caa-gray;

  &.option--text-gray {
    color: $color-gray-15;
    font-weight: 300;
  }
  &.option--text-black {
    color: $color-black;
    font-weight: 300;
  }

  & + .icon-arrow-down {
    position: relative;
    top: -29px;
    z-index: 2;
    float: right;
    padding-right: 10px;
    pointer-events: none;
  }
}

/**
 * Input and text area base styles
 * 1) Width entire container, gray border, padding
 */
input, textarea {
	width: 100%;
	border: 1px solid $color-gray-15;
	@include border-radius($border-radius);
	padding: 10px;
  min-height: 38px;
  color: $color-caa-gray;
}

input { height: 40px; }

/**
 * Input areas base styles
 * 1) Get rid of webkit appearance of these areas
 */
input[type=text], input[type=search], input[type=url], input[type=number], textarea {
	-webkit-appearance: none;
  //float:left;

  &:focus, &.input--focus-border {
    border:1px solid $color-secondary-blue;
  }

}

.input--focus-label { color: $color-secondary-blue; }

// *
//  * Button/Submit button base styles

// button, input[type="submit"] {
// 	padding: $pad-half;
// 	background: $color-gray-73;
// 	border: 1px solid $color-gray-50;
// 	cursor: pointer;
// }

/**
 * Checkboxes/Radio button base styles
 */
// input[type="checkbox"],
// input[type="radio"] {
//     width: auto;
//     margin-right: 0.3em;
// }



/*! Radio Button and Checkbox */


/* hide radio and checkbox .org-form input */
input[type="radio"] + label, input[type="checkbox"] + label {
  width:auto;
  position: relative;
  top:0;
}

/*! Radio */

.inputRadioCheckbox {
  border:0;
  position: absolute;
  opacity: 0;
  z-index: 3;
}

input[type="radio"] {

  &:empty {
    @extend .inputRadioCheckbox;

    /* style span */
    & + span {
      position: relative;
      margin-right:20px;
      display: block;
      height: 19px;
      width: auto;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:before {
        position: absolute;
        top: 3px;
        bottom: 0;
        left: 3px;
        content: '';
        height: 6px;
        width: 6px;
        border-radius: 50%;
        z-index:2;
      }
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        content: '';
        vertical-align: middle;
        height:10px;
        width: 10px;
        background: $color-gray-02;
        border:1px solid $color-gray-35;
        border-radius: 50%;
        z-index:1;
      }
      & + label {
        display: block;
        vertical-align: middle;
        margin-right: 20px;
      }
    } //span

  }//:empty

  /* toggle on */
  &:checked {
    & + span:before {
      background-color:#1d60c9;
    }
    &:empty + span:after {
      background: #fff;
    }
  }

}


/*! Checkbox */
input[type="checkbox"] {

  @extend .inputRadioCheckbox;
  width:38px;
  display: inline-block;

  &:empty {
    /* style span */
    & + span {
      position: relative;
      margin-right: 10px;
      @media only screen and (min-width: $bp-medium){
        margin-right:20px;
      }
      display: inline-block;
      height: 38px;
      width: 38px;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      @media only screen and (max-width: $bp-large){
        float: left;
      }

      &:before {
        position: absolute;
        top: 12px;
        bottom: 0;
        left: 12px;
        height: 15px;
        width: 15px;
        z-index:2;
        content: '';
        background-color: $disabled-grey-light;
      }
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        content: '';
        vertical-align: middle;
        height: 38px;
        width: 38px;
        border:1px solid $color-gray-35;
        border-radius: 3px;
        background-color: $color-white;
        z-index:1;
      }
      & + label {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;


        @media only screen and (max-width: $bp-large){
          padding-bottom:15px;
          float: left;
          width: 75%;
        }
      }

    }
  }

  /* toggle on */
  &:checked {

    & + span:before {
      top: 9.2px;
      left: 9px;
      font-size: 22px;
      font-weight: 600;

      background-color: $color-caa-blue;

      color:$color-white;
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'caasco-icons' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\e90e';
    }
    &:empty + span:after {
      background:$color-caa-blue;
    }
  }

}


/**
 * Search cancel button and search decoration webkit appearance none
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


.field--small {
  max-width: 145px;
}
