/*------------------------------------*\
    #GLOBAL CLASSES
\*------------------------------------*/

// *
//  * Clearfix

.cf {
    *zoom: 1;
}

// *
//  * Clearfix pseudo-elements

.cf:before, .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

// *
//  * Completely remove from the flow and screen readers.

.is-hidden {
    display: none !important;
    visibility: hidden !important;
}

// *
//  * Completely remove from the flow but leave available to screen readers.

.is-vishidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

// *
//  * Text align right

.align-right {
	text-align: right;
}

// *
//  * Text align center

.align-center {
	text-align: center;
}

// *
//  * Text Align left

.align-left {
	text-align: left;
}

// *
//  * Hide on small screens

.hide-small {
    @media all and (max-width: $bp-medium) {
        display: none;
    }
}

// *
//  * Hide on medium screens

.hide-med {
    @media all and (min-width: $bp-medium) and (max-width: $bp-large) {
        display: none;
    }
}

// *
//  * Hide on large screens

.hide-large {
    @media all and (min-width: $bp-large) {
        display: none;
    }
}

// *
//  * Show valid text color

.valid {
	color: $color-utility-positive;
}

// *
//  * Show error text color

.error {
	color: $color-utility-negative;
}

// *
//  * Show warning text color

.warning {
    color: $color-utility-caution;
}

// *
//  * Show informational text color

.information {
    color: $color-utility-neutral;
}


// *
//  * position elements

.align--middle-vertical { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.align--center-horizontal { position: absolute; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

// *
//  * color backgrounds

.bg--secondary-blue { background-color:$color-secondary-blue; }
.bg--green { background-color:$color-green; }
.bg--white { background-color:$color-white; }
.bg--gray-2 { background-color:$color-gray-02; }

