/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/


.headings {
  color: $color-heading;
  line-height: 100%;
  margin-bottom: 16px;
}

/**
 * Heading 1
 */
h1  {
	font-size: 26px;
  @extend .headings;

  @media only screen and (min-width: $bp-medium){
    font-size: $font-title-1;
  }

}

/**
 * Heading 2
 */
h2 {
	font-size: $font-title-3;
  @extend .headings;
  font-weight: $font-weight-bold;
  @media only screen and (min-width: $bp-medium){
    font-size: $font-title-2;
  }
}

/**
 * Heading 3
 */
h3  {
	font-size: $font-title-3;
  @extend .headings;
  font-weight: $font-weight-bold;
}


// .subheading {
// 	font-family: $font-secondary;
// 	font-weight: normal;
// }
