/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Links
 */
a {

	text-decoration: none;
	outline: 0;
  color:$color-black;

	&:hover, &:focus {

	}
}
