/*------------------------------------*\
    #TEXT
\*------------------------------------*/

/**
 * Paragraph base styles
 */
.content p {
	margin-bottom: $space-smaller;
}

small, .text-small { font-size: $font-size-small }
.text-micro {
    font-size: $font-size-micro;
    font-weight:600;
    color:$color-caa-black;
}

/**
 * Blockquote base styles
 */
blockquote {
    font-style:italic;
    border-left: 1px solid $color-gray-50;
    color: $color-gray-50;
	//padding-left: $pad;
	margin-bottom: $space-medium;
}

/**
 * Horizontal rule base styles
 */
hr {
	border: 0;
    height: 1px;
    background: $color-caa-gray;
}

/**
 * Abbreviation base styles
 */
abbr {
    border-bottom: 1px dotted $color-gray-50;
    cursor: help;
}