/*------------------------------------*\
    #Utilities
\*------------------------------------*/


.h2--size-h1 { //when h2's are suppose to look like an h1 keeping SEO in mind
    @media only screen and (min-width: $bp-medium) {
      font-size: $font-title-1;
      margin-bottom: 15px;
    }
}

.cta__container--center-btn {
    text-align: center;
}

.copy--middle {
  @include vertical-align(absolute);
}

.pad__section--top {
  margin-top: $pad-mobile;
  @media only screen and (min-width: $bp-medium){
    margin-top: $pad-desktop;
  }
}

.overflow-y--hidden {
  overflow-y: hidden;
}

.mobile--hide {
  display: block;
  @media only screen and (max-width: 767px){
    display: none;
  }
}
.desktop--hide {
  display: block;
  @media only screen and (min-width: 768px){
    display: none;
  }
}

