.checkmark__list-group {
  position:relative;
  text-align: left;
  padding-left: 30px;

    li {
      list-style-type: none;
      line-height: 140%;

      &:before {
        font-family: 'caasco-icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        content: '\e90e';

        position: absolute;
        left:0;
        margin-top:5px;
        color: #65b32b;
      }
    }

  }