//animate.css

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}


@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    // transform: scaleY(0);
    // transform-origin: bottom;
  }

  to {
    opacity: 1;
    // transform: scaleY(1);
    // transform-origin: bottom;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 1;
  }

  20% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);

  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);

  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    opacity: 1;
  }

}

.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}


@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}


@keyframes flicker {

  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.5;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0.7;
  }

  40% {
    opacity: 0;
  }

  80% {
    opacity: 0.8;
  }

  to {
    opacity: 0;
  }
}

.flicker {
  animation-name: flicker;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}


@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(10, 0.2, 1, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -10px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation-name: bounceInUp;
  animation-fill-mode: forwards;
}


@keyframes fadeUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(10, 0.2, 1, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeUp {
  animation-name: fadeUp;
  animation-fill-mode: forwards;
}


// /* The starting CSS styles for the enter animation */
// .fade.ng-enter {
//   transition:0.5s linear all;
//   opacity:0;
// }

// /* The finishing CSS styles for the enter animation */
// .fade.ng-enter.ng-enter-active {
//   opacity:1;
// }

.fade.ng-animate {
  transition:0.5s linear all;
  position: absolute;
  z-index: 100;
}
.fade.ng-enter {
  opacity:0;
}
.fade.ng-enter.ng-enter-active {
  opacity:1;
}
.fade.ng-leave {
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}