// School Zone Buttons

.c__btn-shared {
  background: $color-school-blue;
}

button, .c__btn {
  @extend .c__btn-shared;
}


.c__btn-ghost {
  @extend .c__btn-shared;
  background-color: inherit;

  .content &.hover:hover {
    background-color: $color-school-blue;
    border: 2px solid $color-school-blue;
    color: $color-white;
    text-decoration: none;
  }

  .content &.c__btn-ghost--white.hover:hover {
    background-color: $color-school-blue;
    border: 1px solid $color-school-blue;
    color: $color-white;
    text-decoration: none;
  }
}
.c__btn-ghost--green {
  border: 2px solid $color-school-blue;
  color: $color-school-blue;
}
.c__btn-ghost--green.hover:hover {
  color: $white;
  text-decoration: none;
}



// Hamburger menu button

$menu-btn--dark: #212121;
$menu-btn--thickness: 3px;
$menu-btn--length: 15px;
$menu-btn--speed:0.2s;


@mixin btn($left, $top) {
  position: relative;
  width: 35px;
  height: 35px;
  top: $top;
  left: $left;
  transition-duration: $menu-btn--speed;
}

@mixin icon($height, $width) {
  transition-duration: $menu-btn--speed;
  position: absolute;
  height: $height;
  width: $width;
  top: $menu-btn--length;
  background-color: $menu-btn--dark;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: $menu-btn--speed;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $menu-btn--dark;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: $menu-btn--speed;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $menu-btn--dark;
  content: "";
  top: $top;
}


.mobile-menu__button {
  @include btn(0, 10px);

  .icon-left {
    @include icon($menu-btn--thickness, $menu-btn--length);
    left: 0px;

    &:before{
      @include icon-before($menu-btn--thickness, $menu-btn--length, -10px);
    }

    &:after{
      @include icon-after($menu-btn--thickness, $menu-btn--length, 10px);
    }

    &:hover{
      cursor: pointer;
    }
  }

  .icon-right {
    @include icon($menu-btn--thickness, $menu-btn--length);
    left: $menu-btn--length;

    &:before{
      @include icon-before($menu-btn--thickness, $menu-btn--length, -10px);
    }

    &:after{
      @include icon-after($menu-btn--thickness, $menu-btn--length, 10px);
    }
  }

  &.open {
    .icon-left {
      transition-duration: $menu-btn--speed;
      background: transparent;

      &:before{
        transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
      }

      &:after{
        transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
      }
    }

    .icon-right {
      transition-duration: $menu-btn--speed;
      background: transparent;

      &:before{
        transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
      }

      &:after{
        transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}