
.countdown {

  &__container {
    margin-top: 20px;
    @media only screen and (min-width: $bp-medium) {
      margin-top: $space-medium;
    }
    margin-bottom: $space-small;
    opacity: 0;

    &.fadeIn {
      animation-delay:0.9s;
    }
  }

  &__item {
    display: inline-block;
    text-align: center;
     width:60px;
    padding-top:3px;
    padding-bottom:3px;
    margin-right: 2px;
    background-color:rgba(0,0,0,0.5);
    @include border-radius(5px);

    @media only screen and (min-width: $bp-medium) {
      padding-top:10px;
      padding-bottom:10px;
      margin-right:5px;
      width:90px;
    }


    &:last-child {
      margin-right:0;
    }
  }
  &__number {
    font-size: $font-title-3;
    color: $color-school-yellow;
    @media only screen and (min-width: $bp-medium) {
      font-size: $font-title-2;
    }
    font-weight: $font-weight-light;
  }
  &__copy {

    @media only screen and (max-width: $bp-medium) {
      font-size: $font-size-micro;
      margin-top: -2px;
    }
    @media only screen and (min-width: $bp-medium) {
      font-size: $font-size-small;
      font-weight: $font-weight-light;
    }
  }
}