.directions {
  &__section {
    select {
      margin-bottom: $pad-mobile;
      & + .icon-arrow-down { top: -67px; }
    }
  }

  &__map {
    height: 320px;
    @media only screen and (min-width: $bp-medium) {
      height: 366px;
    }
  }
}

.transportation {
  &__description {
    strong { font-size: $font-size-small; }
    p { margin-bottom: 15px; }
  }
  &__tab {
    margin-top: 18px;
    margin-bottom: 38px;
  }
}

a.transportation__tab {
  font-weight: $font-weight-bold;
  padding:0 15px;
  display: inline-block;
  border-right: 1px solid $color-caa-gray;
  &:link { color:$color-school-blue; }

  &.active {
    color:$color-black;
  }

  &:first-child {
    padding-left:0 !important;
  }
  &:last-child {
    border-right:0;
  }
}