// note: horizontal conversion on desktop added after the fact

.directions-drop-down {

  &__container {
    height: 40px;
    border: $border-generic;
    @include border-radius(3px);

    margin-bottom: $space-small;

    a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      &:hover, &:link {
        text-decoration: none !important;
      }
    }

  }

  &__label {

    color:#fff;
    text-align: left;

    &-copy {
      font-size: 15px;
      font-weight: 300;
      color: $color-black;
      text-decoration: none;
    }

  }

  &__item-default &__label-copy {
    // @media only screen and (max-width: $bp-medium) {
    //   padding-right:25px;
    // }
  }
  &__default-option {
    display: none;
    &.active {
      display: block;
    }
  }
  &__options {
    position: relative;
    z-index: 50;
    border: $border-generic;

    &.ng-hide-add {
      transform: scaleY(1);
      transform-origin: top;
      transition: all 0.3s ease-in-out;
    }

      &.ng-hide-add.ng-hide-add-active {
      transform: scaleY(0);
    }

      &.ng-hide-remove {
      transform: scaleY(0);
      transform-origin: top;
      transition: all 0.3s ease;
    }

      &.ng-hide-remove.ng-hide-remove-active {
      transform: scaleY(1);
    }

    .active {
      display: none;
    }


    .directions-drop-down__item {

      background-color: #fff;

      &:hover {

        background-color:$color-school-blue;

        .directions-drop-down__label-copy { color: #fff; }

      }
    }
  }

  &__item {
    height: 45px; // define for translateY
    display: block;
    cursor: pointer;
    padding:8px 10px;

    @media only screen and (min-width: $bp-medium) {
      height: 22px;
    }

    .icon-arrow-down  {
      color: $color-black;
      position:relative;
      float: right;
      top:-17px;
    }

  }

}


.dropdown {
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.dropdown .button {
  padding-right: 28px;
  margin: 0;
  position: relative;
  z-index: 2;
}
.dropdown .button:after {
  content: '';
  background: url(images/dropdown-icon.png) 0;
  width: 8px;
  height: 6px;
  display: block;
  position: absolute;
  right: 12px;
  top: 13px;
}
.dropdown .button[disabled]:after,
.dropdown .button.disabled:after {
  background-position: -8px;
}
.dropdown ul {
  background: #ffffff;
  padding: 4px 0;
  border: 1px solid #bec0c1;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 33px;
  display: none;
  list-style: none;
}
.dropdown ul li {
  list-style: none;
}
.dropdown ul li:hover {
  background: #009eca;
}
.dropdown ul li a {
  height: 30px;
  padding: 0 40px 0 10px;
  display: block;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #3d4447;
  white-space: nowrap;
}
.dropdown ul li a:hover {
  color: #ffffff;
}
.dropdown.dropdown-right ul {
  right: 0;
  left: auto;
}
.dropdown.dropdown-active ul {
  display: block;
}