footer {
  padding-top: $pad-double;
  padding-bottom: $pad-double;
  background-color: $color-footer-gray;
  color: $color-white;
  font-size: $font-size-micro;
  a { color: #fff; }
  p {
    &:first-child {
      margin-bottom: 20px;
    }
  }
}