.header-navigation {
  position: fixed;
  width: 100%;
  min-width: 320px;
  z-index: 100;
}

.school-zone__header {
  position: relative;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  height: auto;
  background-color: $color-school-yellow;
  height: 55px;

  //@include transition(height 0.1s ease-out);

  @media only screen and (max-width: 320px) {
    //used for regpak
    max-width: 320px;
  }

  @media only screen and (min-width: $bp-medium) {
    background-color: $color-school-blue;
    height: 110px;
  }

  h2 {
    color:$color-black;
    @media only screen and (min-width: $bp-medium) {
      color:$color-white;
    }
  }

  &-column {
    display:inline-block;
    &--logo {
      width: 97px;
      @include vertical-align(absolute);

      // pixel precision for sandra
      margin-top:1px;
      @media only screen and (min-width: $bp-medium) {
        margin-top:3px;
      }

    }
    &--title {
      width: 160px;
      margin-left:73px;
      @include vertical-align(absolute);

      @media only screen and (min-width: $bp-medium) {
        width: 230px;
        margin-left:107px;

      }

      h2 {
        font-size:14px;
        margin-bottom: 0;
        line-height: 130%;

        @media only screen and (min-width: $bp-medium) {
          font-size:23px;
          line-height: 134%;
        }
      }

    }
    &--mobile-menu {
      float: right;
      // margin-right: 23px;
      // .mobile-menu__button {
      //   @include vertical-align(absolute);
      // }

      .icon-menu, .icon-close-mobile {
        @media only screen and (max-width: $bp-medium) {
          font-size:$font-title-2;
        }
      }


      @media only screen and (min-width: $bp-medium) {
        display: none;
      }
    }
  }

}