//new
.hero {
  &-section {
    background-image: url(../img/hero--mobile.jpg);
    background-position:top center;
    background-repeat:no-repeat;
    background-size:100% 100%;
    height: 320px;
    color:#fff;

    h1, h2 {
      color:#fff;
      line-height: 120%;
      font-weight:$font-weight-light;
    }

    @media only screen and (min-width: $bp-medium){
      background-image: url(../img/hero.jpg);
      background-size:cover;
      height: 410px;
    }
    @media only screen and (min-width: 1466px){
      background-size:100% 430px;
    }

  }
  &__copy {

    &--position {
      @include vertical-align(absolute);
      text-align:center;
      width: 100%;
    }

    &--center {
      position: relative;
      height: 320px;
      @media only screen and (min-width: $bp-large){
        height: 410px;
      }
    }
    p {
      max-width: 480px;
      margin:0 auto;
      font-size: 18px;
    }

  }
}