.navigation.navigation-v2 {

  overflow:visible;

  @media only screen and (max-width: 765px) {
    display: none;
    height: 0;

    &.navigation-modal {
      display: block;
      height:100%;
    }
  }

  .l-wrapper {
    position:relative;
    z-index: 1001;
  }
  .navigation-info {
    @media only screen and (min-width: $bp-medium) {
      position: absolute;
      right: 0;
      top:-77px;
      z-index: 150;
      color:$color-white;

      .st0 {
        fill: $color-white;
      }
    }
  }

  .navigation-main {
    li {
      float: left;
      @media only screen and (min-width: $bp-medium) {
        width: calc(75%/4);
        //&:nth-child(3) { width: 25%; }
        &:nth-child(4) { width: 25%; }

        a {
          text-align:center;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}