$nav-height: 50px;

.navigation {
  background-color:$color-school-yellow;
  color:$color-black;
  height: 0;
  width:100%; //for ios
  opacity: 0;
  overflow: hidden;
  //@include transition(height 0.3s ease-out);

  @media only screen and (max-width: $bp-medium) {
    position: absolute;
    z-index:100;
  }

  @media only screen and (min-width: $bp-medium) {
    height: $nav-height;
    opacity: 1;
  }
  &__column {
    position: relative;
    width: 50%;
    float: left;

    &:first-child {
      float: right;
    }
  }
  ul {
    li {
      height: $nav-height;
      display: inline-block;

      @media only screen and (min-width: $bp-medium) {
        float: left;
      }

      span {
        vertical-align: middle;
      }
      a {
        display: block;
        height: 100%;
        @media only screen and (min-width: $bp-medium) {
          color: $color-black;

        }


      }
    }
  }

  ///* Pull right  */


  &-main {
    li {
      border-left:1px solid $color-black;
      &:last-child {
        border-right:1px solid $color-black;
      }
      a {

        @media only screen and (min-width: $bp-medium) {
          height: $nav-height;
          padding-top: 13px;
          padding-left: 30px;
          padding-right: 30px;
          font-weight: $font-weight-bold;
        }

        // &:hover {
          // @media only screen and (max-width: $bp-medium) {
          //   color: $color-nav-hover;
          // }
          //@media only screen and (min-width: $bp-medium) {
            // background-color: $color-nav-hover;
          //}
        // }
        overflow:hidden;
        position: relative;
        &:before {
            position: absolute;
            width: 0px;
            height: 100%;
            left: 0px;
            top: 0px;
            content: '';
            background: $color-nav-hover;
            opacity: 0.3;
            transition: all 0.3s;
        }

        &:hover:before {
            width: 100%;
        }
      } // a link

      span {
        z-index: 100;
        position: relative;
      }
    }
  }

  &-info {
    ul {
      float: right;

      li {
        @media only screen and (min-width: $bp-medium) {
          font-weight: $font-weight-bold;
          font-size: $font-size-small;
          padding-top: 13px;
        }
        &:first-child {
          margin-right: 15px;
          @media only screen and (min-width: $bp-medium) {
            margin-right: 35px;
          }
        }

        a {
          &:hover {
            color: $color-nav-hover;
            & > .st0 {fill: $color-nav-hover;}

          }
        }
        .st0, span { display: inline-block; }
        .nav__icon {
          margin-right: 8px;
          vertical-align: top;
        }
        .st0 { fill:$color-black; }

      }
    }
  }

  @media only screen and (max-width: $bp-medium) {
    &__column {
      float: none;
      width: 100%;

      &:first-child {
        float: none;
      }
    }

    &.navigation-modal {
      background-color: $color-school-yellow;
      top:55px;
      opacity: 1;
      height: $nav-height;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 100;
      color:$color-black;
      min-width: $bp-small;
      @include transition(opacity 0.2s ease-out);


      // /* The starting CSS styles for the enter animation */
      // &.ng-enter {
      //   transition:0.5s linear all;
      //   opacity:0;
      // }

      // /* The finishing CSS styles for the enter animation */
      // &.ng-enter.ng-enter-active {
      //   opacity:1;
      // }


      /* now the element will fade out before it is removed from the DOM */
      // &.ng-leave {
      //   transition:0.5s linear all;
      //   opacity:1;
      // }
      // &.ng-leave.ng-leave-active {
      //   opacity:0;
      // }


      .l-wrapper {
        padding:0;
      }

      //.navigation__column:last-child { padding: 0 $pad; }

      .navigation-info {
        border-top:1px solid #fff;
        border-bottom:1px solid #fff;
        ul {
          float: none;
          margin-left: $pad;
          margin-right: $pad;
          padding-top: 3px;
          padding-bottom: 3px;
          li {
            height: 30px;
            margin-top: 7px;
            font-size:$font-size-micro;
            font-weight: $font-weight-bold;

            .st0 {
              margin-right: 8px;
              fill:$color-black;
            }
          }
        }
      } // nav info
      .navigation-main {
        ul {
          margin-top: 15px;
          li {
            display: block;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            border-left: none;
            font-size:$font-title-2;

            a {
              padding: 0 $pad;
              position: relative;
              span {@include vertical-align(absolute);}
            }

            &:last-child {
              border-right:none;
            }
          }
        }
      } // nav main
    } // nav MODAL //

  }
}