.content {
  margin-top:55px;

  @media only screen and (min-width: $bp-medium){
    margin-top:160px;
  }

  h3 {
    @media only screen and (min-width: $bp-medium){
      font-size:20px;
    }
  }

  p {
    @media only screen and (max-width: $bp-medium){
      font-size: $font-size-body;
      // line-height: 130%;
    }
    &:last-child {
      @media only screen and (min-width: $bp-medium){
        margin-bottom: 0;
      }
    }

  }

  a {
    &:link {
      color:$color-school-blue;
      font-weight: 700;
    }
    &:hover {
      text-decoration: underline;
    }
    &:visited {
    color: #1d60c9;
    }
  }

  ul {
    margin-left: 18px;

    &.checkmark__list-group {
      margin-left: 0;
    }

    li { margin-bottom:10px; }

  }
  .l-section:first-child {
    margin-top: $pad-mobile;
    @media only screen and (min-width: $bp-medium){
      margin-top: $pad-desktop;
    }
  }
}

.regpak-wrapper {
  max-width: 1025px;
  margin: 0 auto;
}


// changed from original
.font-color--green { color:$color-school-blue; }

.content-layout {
  &__section {
    img {
      width: 100%;
      min-width: 295px;
      min-height: 177px;
      @include border-radius(5px);

      @media only screen and (min-width: $bp-medium) {
        max-width: 465px;
        height: 275px;
      }
    }

    .row {
      margin-bottom: $pad-mobile;
      @media only screen and (min-width: $bp-medium) {
        margin-bottom: $space-large;
        &:last-child, &.row__margin-bottom--small {
         margin-bottom: $pad-desktop;
        }
      }
    }
  } // section
  &__copy {
    position: relative;
    display: block;
    margin-bottom:$pad-mobile;

    &--middle {
      @media only screen and (min-width: $bp-medium) {
          position: relative;
          transform: translateY(27%);
      }
    }
  }

}

//force copy to right for image position to be at bottom to match prototype
.col-sm-6.content-layout__column--right {
    @media only screen and (min-width: $bp-medium) {
      float: right ;
    }
}