.sign-up {

  &__section {
    padding-top: $pad-mobile;
    padding-bottom: $pad-mobile;
    background-color: $color-school-light-blue;

    @media only screen and (min-width: $bp-medium){
      padding-top: $pad-desktop;
      padding-bottom: $space-small;
    }

    iframe{width:100%}

  } // section

  p {margin-bottom:$space-smaller;}

  .email__alert {
    position: absolute;
    top:0;
    left:120px;
  }

  .sign-up__copy {
    @media only screen and (max-width: $bp-medium){
      text-align: center;
    }
  }

  &__address {
    font-size: $font-size-micro;
  }

  .l-wrapper {
    margin:0 auto;
    @media only screen and (min-width: 640px){
      width: 500px;
    }
    @media only screen and (min-width: 960px){
      width: 960px;
    }
  }
  .cta__container {
    margin:5px 0 15px;
    @media only screen and (max-width: $bp-large){
      text-align: center;
    }
    @media only screen and (min-width: $bp-medium){
      margin: 15px 0 25px
    }
  }


}

div.remove__margin { @media only screen and (min-width: 1016px){
    margin:0;
  }
}

.field {
  &__group {
    position: relative;
    margin-bottom: 15px;
    @media only screen and (min-width: 1016px){
      //width: 100%;
      margin-right: 15px;
      display: inline-block;

      & #first-name, & #last-name  { width: 248px; }
      & #email-address { width: 425px; }
    }
  }
}



#signup__return-message {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  .alert--error {
    display: block;
    margin-bottom: 10px;
  }
  .subscribed__check-mark {
    display: inline-block;
    width: 45px;
    height: 45px;
  }
  .subscribed__copy {
    display: inline-block;
    width: 88%;
    text-align: left;
    padding-left: 2%;
    vertical-align: top;
    font-weight: 700;
    font-size: 18px;
    color: $color-black;
  }
  .st0{fill: $color-school-blue;}

}


