  .sponsorship {

  .content &-description__section.row {
    margin-bottom: $pad-mobile;
  }

  &__tab {
    display: inline-block;
    width: calc(100%/3);
    height: 50px;
    overflow:hidden;
    position: relative;
    text-align: center;
    &:after {
        position: absolute;
        width: 0px;
        height: 100%;
        left: 0px;
        top: 0px;
        content: '';
        background: $color-school-blue;
        opacity: 0.7;
        transition: all 0.3s;
    }
    .content &:link {
      font-weight: $font-weight-light;
      color: $color-text;
      text-decoration: none;
    }
    &:link:hover {
      color: $color-white;
      font-weight: $font-weight-bold;
    }

    &:hover:after {
      width: 100%;
    }
    &:nth-child(2) {
      border-left: $border-generic;
      border-right: $border-generic;
    }
    span {
      z-index: 10;

      @include center-x-y();

      // -webkit-font-smoothing: antialiased;
      // font-smoothing: antialiased;
    }

    .content & ul {
      margin-left: 0;
    }

    &-container {
      min-height: 440px;
      @media only screen and (min-width: $bp-medium){
        min-height: 300px;
      }
    }


    .content &.active {
      color: $color-white;
      font-weight: $font-weight-bold;
      &:after {
        opacity: 1;
        width: 100%;

      }
    }

    &-content {
      padding-top: $pad-mobile;
      margin-left: auto;
      margin-right: auto;
      @media only screen and (min-width: $bp-medium){
        padding:50px 50px 0;
      }
    }

  } //tab

  &-cause__section .cta__container {
    @media only screen and (max-width: $bp-medium){
      text-align: center;
    }
    margin-top:43px;
  }

}

