.topic {
  &__section {
    position: relative;
    background-color: $color-school-alt-blue;
    color:$color-white;
    text-align:center;
    padding-top: $pad-mobile;
    padding-bottom: $pad-mobile;
    background-image: url(../img/topic-section__bg-mobile.jpg);
    background-size:cover;
    background-repeat:no-repeat;


    @media only screen and (min-width: $bp-medium) {
      background-image: url(../img/topic-section__bg.jpg);
      padding-top: $space-small;
      padding-bottom: $pad-desktop;
    }

    h2 { color: $color-white; }

    & a, & a:link, & a:visited { color: $color-white; }
  }

  &-icon {
    &__container {
      display: inline-block;
      position: relative;
      top:-65px;
      height: 0;
      overflow:visible;
      opacity: 0;

      // &.fadeIn {
      //   animation-delay:2.5s;
      // }
      &.fadeUp {
        animation-delay:0.5s;
        animation-duration: 0.7s;
      }

      &-circle {

        height: 73px;
        width: 73px;
        background-color:$color-school-yellow;
        @include border-radius(50%);

        padding-top:9px;
        margin-left: -1px;

        .light-bulb {

          &__path-animation {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            animation: dash 5s linear 1s;
            -ms-animation: dash 5s linear 1s;
            animation-fill-mode: forwards;
            -ms-animation-fill-mode: forwards;
          }

          .ie11Down &__path-animation {
            stroke-dasharray: 0;
            stroke-dashoffset: 0;
          }

          @keyframes dash {
            from {
              stroke-dashoffset: 1000;
            }
            to {
              stroke-dashoffset: 0;
            }
          }

          //clipboard
          &-0{fill:none;stroke:#010101;stroke-width:2;stroke-miterlimit:10;}
          &-1{fill:none;stroke:#010101;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}

          //lightbulb
          // &-0{fill:none;stroke:#010101;stroke-width:5;stroke-linejoin:round;stroke-miterlimit:10;}
          // &-1{fill:none;stroke:#010101;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          // &-2{fill:none;stroke:#010101;stroke-width:5;stroke-miterlimit:10;}
          // &-3{fill:#010101;stroke:#010101;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          // &-4{fill:none;stroke:#020202;stroke-width:5;stroke-linejoin:round;stroke-miterlimit:10;}

          &__container {
            position: absolute;
            z-index: 10;
            top:8px;
            left: 19px;
            opacity: 0;
          }

          &__light {
            fill:#f3ffbf;
          }
        }

      }
    }
  }

  &__copy {
    max-width: 600px;
    @include center-margins;
    margin-top: -25px;
  }

  // Propose a topic page

  .content &-suggestions__section.row {
    margin-bottom: $pad-mobile;
  }

  &-themes__section, &-criteria__section  {
    margin-bottom: $pad-mobile;
    .content & .row {
      margin-bottom: $pad-mobile;
    }
  }

  &-themes__section {
    strong {
      display: block;
      margin-bottom:20px;
    }
  }


} // topic



// Propose a topic page

#light-bulb {
  position: relative;
  left: -2px;
  top: 3px;
}

#light-bulb__light {
  width: 33px;
  height: 42px;
}