//local variables
//$mobile-width: 768px;

$bp-desktop: 1024px;
$bp-tablet: 600px;

$color-school-blue: #1d60c9;
$color-school-alt-blue: #298eec;
$color-school-light-blue: #e8f3fd;
$color-school-yellow: #e5c83e;
$color-navigation-gray: #7b7b7b;
$color-footer-gray: #3e3f3f;
$color-nav-hover: #c8a702;
$color-school-green: #65b32b;