
@import "../../../../../../_SHARED/source/sass/generic/mixins.scss";
@import "../../../../../../_SHARED/source/sass/generic/variables.scss";

//////////////////////////////////////////

//imports
@import "variables.scss"; // local variables


@import url(https://fast.fonts.net/t/1.css?apiType=css&projectid=2dc67787-4d8d-43bf-a8f6-96f474b9302e);@font-face {
    font-family: "Neue Helvetica W01_n3";
    src: url(https://www.caasco.com/~/media/css/Fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix) format("eot")
}

@font-face {
    font-family: "Neue Helvetica W01";
    src: url(https://www.caasco.com/~/media/css/Fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix);
    src: url(https://www.caasco.com/~/media/css/Fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix) format("eot"),url(https://www.caasco.com/~/media/css/Fonts/5a13f7d1-b615-418e-bc3a-525001b9a671.woff2) format("woff2"),url(https://www.caasco.com/~/media/css/Fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff) format("woff"),url(https://www.caasco.com/~/media/css/Fonts/688ab72b-4deb-4e15-a088-89166978d469.ttf) format("truetype"),url(https://www.caasco.com/~/media/css/Fonts/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a) format("svg");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Neue Helvetica W01_n4";
    src: url(https://www.caasco.com/~/media/css/Fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix) format("eot")
}

@font-face {
    font-family: "Neue Helvetica W01";
    src: url(https://www.caasco.com/~/media/css/Fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix);
    src: url(https://www.caasco.com/~/media/css/Fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix) format("eot"),url(https://www.caasco.com/~/media/css/Fonts/b0868b4c-234e-47d3-bc59-41ab9de3c0db.woff2) format("woff2"),url(https://www.caasco.com/~/media/css/Fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff) format("woff"),url(https://www.caasco.com/~/media/css/Fonts/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf) format("truetype"),url(https://www.caasco.com/~/media/css/Fonts/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Neue Helvetica W01_n7";
    src: url(https://www.caasco.com/~/media/css/Fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix) format("eot")
}

@font-face {
    font-family: "Neue Helvetica W01";
    src: url(https://www.caasco.com/~/media/css/Fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix);
    src: url(https://www.caasco.com/~/media/css/Fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix) format("eot"),url(https://www.caasco.com/~/media/css/Fonts/3b303641-706e-4221-94c4-4fb491f4f8ef.woff2) format("woff2"),url(https://www.caasco.com/~/media/css/Fonts/14ff6081-326d-4dae-b778-d7afa66166fc.woff) format("woff"),url(https://www.caasco.com/~/media/css/Fonts/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf) format("truetype"),url(https://www.caasco.com/~/media/css/Fonts/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568) format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: caasco-icons;
    src: url(https://www.caasco.com/~/media/css/Fonts/caasco-icons-eot.eot);
    src: url(https://www.caasco.com/~/media/css/Fonts/caasco-icons-eot.eot?#iefix) format("embedded-opentype"),url(https://www.caasco.com/~/media/css/Fonts/caasco-icons-ttf.ttf) format("truetype"),url(https://www.caasco.com/~/media/css/Fonts/caasco-icons-woff.woff) format("woff"),url(https://www.caasco.com/~/media/css/Fonts/caasco-icons-svg.svg?#caasco-icons) format("svg");
    font-weight: 400;
    font-style: normal
}


//modify regpak styling*/
//------------------------------------------------------------*/

// START Apply on all sizes and devices */

body {
    color: #333;
    font: 16px/100% "Neue Helvetica W01",HelveticaNeue,Helvetica,Arial,sans-serif !important;
    -webkit-text-size-adjust: 100%;
    min-width: 320px;
    line-height: 140%;
    display: flex;
    flex-direction: column;
}

p { line-height: 140% !important; }

.clear { height: 0; }



#maincol {
  padding: 0 15px;
  margin-top: 50px;
}

#maincol h2 {
  padding:0;
  font-size: 24px;
  color:#000;
}
#maincol h1#form_title, .panel, ul.regpack_footer { display: none; }
#maincol .field .field_value input:focus, #maincol .field .field_value input:hover {
  background: none;
}

._mapped_text { margin-top: 0; }

//remove login checkbox
#f_56550_300142 .field:nth-child(4) { display: none; }

//remove check mark
#maincol .field .field_value.ok { background: none; }

//add padding to missing field red border container
#maincol .field.fillout { padding-left:15px; }

#f_56745_308178 { width:70px !important; }

//START Button*/
#maincol #field__submit input._submit[type="button"] {
  background: #1d60c9 !important;
  min-width:auto;
  height:46px !important;
  color: #fff;
  line-height: 1;
  font-weight: 600;
  padding: 15px 30px;
  border: 0;
  border-radius: 28px;
  text-align: center;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  text-transform: initial;
}
// #maincol #field__submit { margin-top: 0; }
#maincol #field__submit .field_value input { float: none; }
#field_f_56550_300142 #maincol .field .field_value input {
  width:100%;
}
//END Button*/

//remove float on field labels */
#maincol .field_title {float:none;}


//fix paragraphs*/
#maincol .field._mapped_text .field_value p { padding:0 0 20px; }


// hide validation popup
.popup_div_class.validation_error {display:none;}


#maincol #field__submit { margin-top: 0; }


//------------------------------------------------------------*/
// END Apply on all sizes and devices */



// Start Mobile Only */
//------------------------------------------------------------*/
@media only screen and (max-width:$bp-tablet)  {

  .conference-description__section {
    margin-bottom: 30px;
  }

  //conference rate*/
  .conference-rates__section .col-two:last-child {
    width: 32%;
  }

  #maincol .field._login > .field_value, #maincol .field._mapped_text .field_value, #maincol #login_lightbox_output .field_value {
    width:100%;
  }

  // adjust odd padding pushing fields*/
  #maincol .field .field_value {
    padding-left:0 !important;
    padding-right:0 !important;
  }

  //adjust width to fill mobile width*/
  #maincol .field .field_value input {
    width: 93%;
  }

  //remove padding on password fields
  #field_f_56550_300142 {
    padding-left: 0;
  }

}

//------------------------------------------------------------*/
// END Mobile Only */


// Start Tablet and Mobile Only */
//------------------------------------------------------------*/

// , only screen
// and (min-device-width: 1280px)
// and (max-device-height: 800px)
// and (min-resolution: 192dpi)
// and (-webkit-device-pixel-ratio:2)
// and (orientation : landscape)


@media only screen and (max-width: $bp-desktop) {


  // add password description content on mobile */
  #f_56550_300142 .field:nth-child(2):before {
    content: 'All passwords MUST be at least six characters and contain no special characters (i.e. !@#$%^&*).';
    font-size:11px;
  }

  #maincol h2 {
    font-size: 18px;
    line-height: 120%;
  }

  #maincol .field .field_value.mandatory::before, #maincol h1#form_title,  #phone_top, .desktop, #field_f_56550_306974 { display:none !important; }

  body.no_sidebar #maincol { margin:50px 0 0; }

  .conference-description__section { margin-bottom: 50px; }

  .register-pay__section { margin-top: 50px; }

  .conference-rates__section {
    font-size: 14px;
  }
}
//------------------------------------------------------------*/
// END Tablet and Mobile Only  */


// Start Galaxy Tablet Only */
//------------------------------------------------------------*/

@media only screen
and (min-device-width: 800px)
and (max-device-height: 1280px)
and (min-resolution: 192dpi)
and (-webkit-device-pixel-ratio:2)
and (orientation : portrait) {

  //email password field widths*/
  #maincol #login_lightbox_output .field_value, #maincol .field._login > .field_value {
    width:100%;
  }

  #maincol .field .field_value { padding-left:0 !important; }

}


@media only screen
and (min-device-width: 1280px)
and (max-device-height: 800px)
and (min-resolution: 192dpi)
and (-webkit-device-pixel-ratio:2)
and (orientation : landscape) {

  .mobile { display:block !important; }

  //email password field widths*/
  #maincol #login_lightbox_output .field_value {
    width:100%;
  }
}
//------------------------------------------------------------*/
// END Galaxy Tablet Only */


// Start iPad Only */
//------------------------------------------------------------*/

// landscape  */
@media only screen and (min-device-width:$bp-desktop) and (orientation: landscape) {
  .mobile { display: none !important; }
}

// portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : $bp-desktop)
and (orientation : portrait) {

  #field_first_name, #field_last_name, #field_f_56550_306974  {
    max-width:100%;
    display:block;
    position:relative;
  }
  #field_f_56550_300142 .field, input {
    width:100%;
  }

  .mobile { display: none !important; }
}

//------------------------------------------------------------*/
// END iPad Only */


// Start Tablet */
//------------------------------------------------------------*/

// Start Tablet Portrait Only */
@media only screen and (max-width:768px) and (orientation : portrait) {
  #field_f_56550_300142 {
    max-width: 335px;
    width: 335px;

    //adjust odd spacing
    padding-left: 35px;
  }
}


// Start Tablet Landscape Only */

@media only screen and (max-width: $bp-desktop) and (orientation : landscape) {


}



// tablet, landscape iPad, lo-res laptops ands desktops */
@media only screen and (min-width:$bp-tablet) and (max-width:$bp-desktop)  {

  // .no_sidebar #maincol, .no_sidebar #sidebar + #maincol {
  //   width: 82%;
  // }

  //set containers to 100%
  .no_sidebar #maincol, .no_sidebar #sidebar + #maincol, #maincol .field._mapped_text .field_value {
    width:100%;
    max-width:100%;
  }

  .conference-rates__section {margin: 0 auto;}

  .register-pay__section {text-align:center;}


  //fix odd margin and padding on fields*/
  #maincol .wdg__login { margin-left: 0; }

  #field_f_56550_300142 {
    max-width: 300px;
    width: 300px;
    margin: 0 auto;
    display: block;


  }

  #field_first_name, #field_last_name {
    max-width: 300px;
    margin: 0 auto;
  }

  #maincol .field { display:block; }

  #maincol #field__submit {
    width: 298px;
    margin: 0 auto;
    display: block;
  }

}

//tablet to desktop
@media only screen
and (min-width:$bp-tablet) {

  .conference-rates__section .col-two:first-child {
    font-size: 15px
  }
  //fix odd padding on field labels*/
  #maincol .field_title {
    padding: 5px 5px 8px 0;
  }
  #maincol .field_value {
    float: left;
    padding: 0 12px 8px 0;
    //remove odd padding on fields*/
    // padding-left:0 !important;
    // padding-right:0 !important;
  }
}

//------------------------------------------------------------*/
// END Tablet  */


// Start Desktop */
//------------------------------------------------------------*/
@media only screen
and (min-width:1025px)
 {

  body {overflow-x: hidden; }

  #maincol { padding: 0 30px; }

  #maincol h2 {
    margin-top:0;
    margin-bottom: 30px;
  }

  #maincol ._mapped_text {padding-top: 0;}
  //#f_56550_306974 {margin-top:-12px;}
  #maincol .field .field_value.mandatory {
    margin:0 0 15px;
    width:100%
  }
  #maincol .field .field_value.mandatory::before, #maincol h1#form_title, .mobile { display:none; }
  #maincol .wdg__login, #maincol #login_lightbox_output .field_value, #maincol .field._login > .field_value {
    margin-left: 0;
    width: 100%;
  }
  #maincol .field._mapped_text .field_value, .no_sidebar #maincol, .no_sidebar #sidebar + #maincol {
    width:100%;
    max-width:100%;
  }

  #maincol .field {
    vertical-align: middle;
    //width: 33.3% !important;
  }

  // #f_56550_300142 .field:nth-child(4) { //keep me logged in*/
  //   position:relative;
  //   left:150px;
  //   top:30px;
  // }
  #field_first_name, #field_last_name, #field_f_56550_306974  {
    display:inline-block;
    position:relative;
    width:33.3% !important;
  }
  #field_f_56550_300142 .field {
    width:33.3% !important;
  }

  //.register-pay__section { margin-top: 50px; }
  .register-pay__section p { margin-bottom: 30px; }

  // #maincol #field__submit { margin-top: -10px; }

  // #maincol #field__submit input._submit[type=button] {
    // margin: 0;
    // top: -15px;
  // }

}



//Rates styling*/
//------------------------------------------------------------*/

.conference-rates__section {
  max-width: 320px;
  min-width: 320px;
  position:relative;
}
.conference-rates__section .col-two {
  padding: 15px;
  margin-right:-40px;
}
.conference-rates__section .col-two:last-child {
  text-align:center;
}
.bg-blue .col-two {
  background-color: #e8f3fd;
}
@media only screen
and (min-width: 1050px) {
  .conference-rates__section {
    top:-50px;
  }
}

@media only screen
and (min-width: $bp-desktop) {
  .conference-rates__section {
    top:-80px;
  }
  .conference-rates__section .col-two {
    padding: 20px;
    margin-right:-40px;
  }
}



//payment*/
//------------------------------------------------------------*/
h2.table_head {
  border:0;
}

//grid styling*/
//------------------------------------------------------------*/

.col-two, .col-sm-6 {
  position: relative;
  min-height: 1px;
}
.col-two {
  width: 50%;
  float: left;
}

.col-sm-6 img {
  width: 100%;
  position:relative;
  z-index:2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

@media only screen
and (min-width: $bp-desktop) {
  .row {
  display:block;
  width:100%;
}
.row:after, .row:before {
  content: " ";
  display: table;
}
  .row {
    display:block;
    width:100%;
    padding: 0 15px;
  }
  .col-sm-6:first-child {
    padding-right:15px;
    margin-left:-15px;
  }
  .col-sm-6:last-child {
    padding-left:15px;
    margin-right:-15px;
  }
  .col-sm-6 {
    width: 50%;
    float: left;
  }
  .col-sm-6 img {
    max-width: 465px;
    height: 275px;
  }
}