/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * Layout container
 */

.l-container, .l-wrapper, .wrapper {
  max-width: $l-max-width;
  margin: 0 auto;
  padding: 0 15px;
  &.l-container--margin-btm {
    margin-bottom: $space-large;
  }

  @media only screen and (min-width: $bp-large){
    padding: 0;
  }
}

.l-section {
  @media only screen and (max-width: $bp-medium){
    //margin-top: $pad-desktop;
    margin-bottom: $pad-mobile;
  }
  // margin-bottom: $pad-desktop;
  &:nth-child(0) {
    margin-top: $pad-desktop;
  }
}

