@mixin background-gradient($deg, $color1, $color2 ) {
   background-image: -moz-linear-gradient( $deg, $color1, $color2 );
   background-image: -webkit-linear-gradient($deg, $color1, $color2 );
   background-image: -ms-linear-gradient( $deg, $color1 , $color2 );
}

@mixin box-shadow($settings, $color ) {
  box-shadow:$settings $color;
  -moz-box-shadow:$settings $color;
  -webkit-box-shadow:$settings $color;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

//px to em converter
$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}



@mixin grid($target, $context){
//    width: ($target/$context);
  width: (($target/$context)*100%);
}


@mixin vertical-align($position: absolute) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horizontal-align($position: absolute) {
  position: $position;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin center-margins() {
  margin-left:auto;
  margin-right:auto;
}

@mixin center-x-y() {
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform: perspective(1px) translate3d(-50%, -50%, 0);
  -ms-transform: perspective(1px) translate3d(-50%, -50%, 0);
  transform: perspective(1px) translate3d(-50%, -50%, 0);
}


// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}