// ------------------------------------*\
//     #VARIABLES
// \*------------------------------------

// ------------------------------------*\
//     #COLORS
// \*------------------------------------


// * 1) Color variables involve a two-tier system to keep colors in sync. The
// *    first tier defines the brand and neutral colors, and the second tier
// *    defines the application of those colors.



// * Brand Colors
// * 1) Brand color variables use English names to define colors to make palettes easier to
// *    identify. Names are generated using this tool: http://chir.ag/projects/name-that-color/
// * 2) Brand color variables should typically not be used directly in Sass partials. Instead, use
// *    second-tier application colors.
// *

$color-caa-black: #020c27;
$color-caa-gray: #4d5056;
$color-caa-blue: #00308f;
$color-secondary-blue: #1d60c9;
$color-light-blue:#2597dd;
$color-teal:#2597dd;
$color-green-new:#36c15f;
$color-green:#65b32b;
$color-caa-red: #d02813;
$color-salmon:#f55f52;
$color-golden:#ffc624;


// * Neutral Colors
// * 1) Neutral color variables use a numbered system to define variables for better maintainability.
// *    "$color-gray-10" means "10% gray", which is a gray closer to white than to black. For more info
// *    read https://medium.com/eightshapes-llc/color-in-design-systems-a1c80f65fa3#.brevrq67p

$color-white: #fff;
$color-gray-02: #f7f9f9;
$color-gray-15: #d9d9d9;
$color-gray-35: #a5a5a5;
$color-gray-50: #808080;
$color-gray-65: #595959;
$color-gray-73: #444444;
$color-gray-87: #222222;
$color-black: #000;

$color-dim-50: rgba(0,0,0,0.5);
$color-dim-70: rgba(0,0,0,0.7);

// *
//  * Utility Colors
//  * 1) Utility colors are colors used to provide feedback, such as alert messages,
//  * form validation, etc.

$color-utility-positive: #03804d;
$color-utility-postitive-subtle: #d4f3e6;
$color-utility-caution: #a59b15;
$color-utility-caution-subtle: #fffecf;
$color-utility-negative: $color-caa-red;
$color-utility-negative-subtle: #fdded8;
$color-utility-neutral: #0192d0;
$color-utility-neutral-subtle: #d3f2ff;


  // * Text Colors
  // * 1) These are non-linked text colors, such as body copy.

$color-text: #333;


 // * Heading Colors
 // * 1) These are non-linked heading colors, such as h2, h3, etc.

$color-heading: $color-black;
$color-heading-accent: $color-gray-87;


 // * Text Link Colors
 // * 1) These are for linked text, such as a link found within an article,
 // *    navigation link, footer link, etc.

$color-text-link: $color-gray-87;
$color-text-link-hover: $color-gray-73;
$color-text-link-visited: $color-black;
$color-text-link-active: $color-gray-87;

$color-text-link-light: $color-white;
$color-text-link-light-hover: $color-white;
$color-text-link-light-visited: $color-white;


 // * Border Colors
 // * 1) Border colors are used as decoration or dividers, such as as a seperator
 // *    for navigation items, block borders, etc.

$color-border: $color-gray-50;


//Legacy Colors
$disabled-grey-light:#ccc;
$disabled-grey:#e7e7e7;


// ------------------------------------*\
//     #TYPOGRAPHY
// \*------------------------------------

$font: "Neue Helvetica W01", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
//$font-secondary : Georgia, Times, "Times New Roman", serif;

// Type
$font-title-1: 32px;
$font-title-2: 24px;
//$font-title-1: 44px;
//$font-title-2: 30px;
$font-title-3: 18px;

$font-size-body: 16px;
$font-size-small: 14px;
$font-size-micro: 12px;

$font-size-regular: $font-size-body;
$font-size-large: $font-title-2;

$line-height:140%;

$font-weight-light:300;
$font-weight-regular:400;
$font-weight-bold:700;

// ------------------------------------*\
//     #LAYOUT
// \*------------------------------------
$l-max-width: 960px;

// *
//  * Spacing Defaults

// $space : 1em;
// $space-and-half : $space*1.5;
// $space-double : $space*2;
// $space-quad : $space*4;
// $space-half : $space/2;
$pad : 15px;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;


$pad-mobile:40px;
$pad-desktop:50px;

$space-large: 100px;
$space-medium: 50px;
$space-small: 30px;
$space-smaller: 20px;





// ------------------------------------*\
//     #BORDERS
// \*------------------------------------

// *
//  * Border Width

$border-med: 3px;
$border-thick: 7px;

// *
//  * Border Radius
$border-radius: 3px;
$border-radius-button: 28px;

$border-generic: 1px solid $color-gray-15;





// ------------------------------------*\
//     #ANIMATION
// \*------------------------------------

// *
//  * Animation Duration

$anim-speed-quick: 0.2s;

// *
//  * Animation Easing

$anim-ease: ease;




// ------------------------------------*\
//     #BREAKPOINTS
// \*------------------------------------

// *
//  * Breakpoints

$bp-small : 320px;
// $bp-small-2 : 29.75em;
// $bp-small-3 : 39.8em;
$bp-medium : 768px;
// $bp-medium-2 : 48em;
$bp-large : 1000px;
// $bp-large-2 : 66em;
// $bp-xl : 73em;
// $bp-xxl : 89em;
// $bp-xxxl : 93em;





// ------------------------------------*\
//     #BOOTSTRAP GRID
// \*------------------------------------

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  768px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;
