/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Button
 */

.c__btn-shared {
  display: inline-block;
	background: $color-green;
	color: $color-white;
	line-height: 1;
	font-weight: 600;
	padding: $pad $pad-double;
	border: 0;
	border-radius: $border-radius-button;
	text-align: center;
	overflow: hidden;
  position: relative;
  text-decoration:none;
  cursor: pointer;
}

.c__btn-shared--before {
  background-color: rgba(0, 0, 0, 0.12);
  content: '';
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  @include transition(height 0.25s ease-out);
}


button, .c__btn {
 	@extend .c__btn-shared;

	@include transition(height 0.3s ease-in);


  span { position:relative; }

  &.hover:hover {
    span  {
      color: $color-white;
    }
  }

  &:before {
    @extend .c__btn-shared--before;
  }

	&.hover:hover:before, &:focus:before  {
		display: relative;
    height: 100%;
	}

	/**
	 * Disabled button
	 */
	&.disabled {
		background: $color-gray-15;
		color: $color-gray-50;
	}
}


.c__btn-ghost {
  @extend .c__btn-shared;
  background-color: inherit;
  border: 1px solid $white;
  color: $white;
  &.hover:hover {
    background-color: $color-green;
    border: 1px solid $color-green;
    color: $white;
    @include transition(all 0.3s ease-out);
  }
}
.c__btn-ghost--green {
  border: 1px solid $green-light;
  color: $green-light;
}
.c__btn-ghost--green.hover:hover {
  color: $white;
  text-decoration: none;
}

.c__btn-ghost--white {
  border: 1px solid $color-white;
  color: $color-white;
}
.c__btn-ghost--white.hover:hover {
  color: $color-white;
  text-decoration: none;
}


// *
//  * Small button

// .c__btn-small {
// 	//padding: $pad-half;
// }

// /**
//  * Large button
//  */
// .c__btn-large {
// 	//padding: $pad-half;
// 	text-transform: uppercase;
// 	background: $color-gray-50;
// 	font-size: 1.4rem;
// 	font-weight: normal;
// }

// *
//  * Text button

// .c-text-btn {
// 	position: relative;
// 	background: none;
//     border: none;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 1.2rem;

//     &:after {
// 	    position: absolute;
// 		content: "";
// 		height: 20px;
// 		width: 20px;
// 		//background: url("../../../images/icon-arrowhead.svg") no-repeat;
// 	    top: 7px;
// 		right: -26px;
// 		transition: all 0.2s ease;
// 	}

// 	&.hover:hover, &:focus {
// 	    color: $color-gray-73;

// 	    &:after {
// 		    right: -28px;
// 	    }
//     }

//     .c-block-media--small & {
// 	    font-size: 1rem;
// 	}
// }

/**
 * Button on overlay
 */

 .c__btn--overlay {
	 background: $color-gray-35;
 }