/*------------------------------------*\
    #header
\*------------------------------------*/

.c-header-top {
  text-align: center;
  height: 10px;
  background: $color-caa-blue;
  z-index: 1000;
  padding: 0 15px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  @media only screen and (min-width: $bp-medium){
    height:40px;
  }
}

.c-header-bottom {
  position: relative;
  text-align: center;
  height: 85px;
  z-index: 1000;
  background: $color-white;
  border-bottom: 1px solid $color-gray-15;

  @media only screen and (min-width: $bp-medium){
    overflow: hidden;
    background: $color-white;
    height: 89px;
    border-bottom:0;
  }

}

.c-header-nav {
  position: absolute;
  height: 100vh;
  width: 300px;
  z-index: 10;
  left: 0;
  top:85px;
  padding:0;
  text-align: left;
  @media only screen and (min-width: $bp-medium){
    position: relative;
    display: block;
    text-align: left;
    margin-top: 40px;
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding:0 20px;

    li {
      position: relative;
      height: 60px;
    }

  } // ul

  a { display: block; height:56px; }
  .align--middle-vertical {
    width:100%;
  }
  .align-right {
    float:right;
    font-size: 20px;
  }
  .c-header-nav--list-btm-border li {
      border-bottom:1px solid $color-gray-35;

      &:last-child { border-bottom:0; }
  }
  .col-xs-4 {
    position: relative;
    &:nth-child(1) { width:20%; }
    &:nth-child(2) { width:70%; }
    &:nth-child(3) { width:10%; }
  }
}

.c-header-nav--position-force {
  position:inherit;
  @media only screen and (min-width: $bp-medium){
    position:relative;
  }
}

.c-header-nav--highlight {
  height:60px;
  padding:0;
  color:$color-white;

  i:first-child {
    // position: relative;
    font-size:24px;
    // margin-right: 10px;
    // top: 3px;
  }
  .align--middle-vertical a { color:$color-white; }
}

.c-header-nav--bold-text {
  font-weight: 600;
  li a { color:$color-caa-black; }
}