/*------------------------------------*\
    #logo
\*------------------------------------*/


  .c-caa__logo {
    background: rgba(0, 0, 0, 0) url("../img/caa-logo.png") top left no-repeat;
    width: 57px;
    height: 38px;
    background-size: 100%;
    display: inline-block;
    text-indent: -5000px;
    overflow: hidden;
    @include transition(all 0.1s ease-out);

    @media only screen and (min-width: $bp-medium) {
      width: 87px;
      height: 61px;
    }

  }
  // .c-caa-logo {
  //   background: url("../images/caa-logo-masterbrand.svg") center/contain no-repeat;
  //   background-size: 68px 47px;
  //   height: 47px;
  //   width: 68px;
  //   display: block;
  //   margin: 19px auto 0;
  //   text-indent: -100000px;


  //   @media only screen and (min-width: $bp-medium){
  //     background: rgba(0, 0, 0, 0) url("../images/caa-logo.svg") center/contain no-repeat;
  //     background-size: 117px 45px;
  //     width: 117px;
  //     height: 45px;
  //     float: left;

  //   }

  // }
