/*------------------------------------*\
    #MESSAGING
\*------------------------------------*/

/**
 * Alert
 */
.alert {
	text-align: center;
	overflow: hidden;
	font-size: 1em;
	//animation: fadeIn 2s forwards;
	display:flex;
	flex-direction:row;

	a {
		color: inherit;
		text-decoration: underline;
	}
}


.ng-pristine.ng-valid {
	color: $color-caa-gray;
}

/**
 * Error alert
 */
.alert--error {
	color: $color-utility-negative;
	//display:none;
	//background: $color-utility-negative-subtle;
}

.alert--error-border, .ng-touched.ng-invalid {
	border: 1px solid $color-utility-negative;
}


/**
 * Success alert

 .ng-valid
 */
.alert--success, {
	color: $color-utility-positive;
	//background: $color-utility-postitive-subtle;
}

/**
 * Warning alert
 */
.alert--warning {
	color: $color-utility-caution;
	//background: $color-utility-caution-subtle;
}

/**
 * Info alert
 */
.alert--info {
	color: $color-utility-neutral;
	//background: $color-utility-neutral-subtle;
}


/**
 * Overlay
 */
 .c-overlay {
	display: block;
	padding: 1em;
	background: rgba(0, 0, 0, 0.7);
	border-radius: $border-radius;
	position: relative;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border-radius: $border-radius;
	text-align: center;
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&--is-hidden {
		display: none;
	}

	.c-tile-grid__primary & {
		position: absolute;
	}

	.c-tile-list__item & {
		position: absolute;
	}

	.c-section & {
		position: absolute;
	}
 }

 /**
 * Overlay Intro
 */
 .c-overlay__intro {
	 font-size: 1.5rem;
	 color: $color-white;
 }
